<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/inquiry_page.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="inquiry_container">
                        <div class="inquiry_title">
                            <h5>문의</h5>
                        </div>
        
                        <table class="table inquiry_table" style="text-align: center;">
                            <colgroup>
                                <col width="10%">
                                <col width="50%">
                                <col width="20%">
                                <col width="20%">
                            </colgroup>
                            <tr>
                                <td>번호</td>
                                <td>글제목</td>
                                <td>글쓴이</td>
                                <td>작성일</td>
                            </tr>
                           
                            <th:block th:each="board , state : ${boardList}">
                                <tr class="admin-answer">
                                    
                                    <td>[[${#lists.size(boardList) - state.index}]]</td>
                                    <th:block th:if="${session.loginInfo != null}">
                                        <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                                            <td class="bi bi-chat-left-heart" th:onclick="goDetailSelect([[${board.boardCode}]])">[[${board.boardTitle}]]
                                                <th:block th:if="${board.boardAnswer == 'Y'}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                        <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                    </svg>
                                                </th:block>
                                            </td>
                                        </th:block>
        
                                        <th:block th:unless="${session.loginInfo.isAdmin == 'ADMIN'}">
                                            <th:block th:if="${board.boardSecret == 'NO'}">
                                                <td class="bi bi-chat-left-heart" th:onclick="goDetailSelect([[${board.boardCode}]])">[[${board.boardTitle}]]
                                                    <th:block th:if="${board.boardAnswer == 'Y'}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                        <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                    </svg>
                                                    </th:block>
                                                </td>
                                            </th:block>
        
                                            <th:block th:unless="${board.boardSecret == 'NO'}">
                                                <th:block th:if="${session.loginInfo.memberId == board.boardWriter}">
                                                    <td class="bi bi-chat-left-heart" th:onclick="goDetailSelect([[${board.boardCode}]])">[[${board.boardTitle}]]
                                                        <th:block th:if="${board.boardAnswer == 'Y'}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                            </svg>
                                                        </th:block>
                                                    </td>
                                                </th:block>
        
                                                <th:block th:unless="${session.loginInfo.memberId == board.boardWriter}">
                                                    <td class="bi bi-chat-left-heart">비밀글입니다.
                                                        <th:block th:if="${board.boardAnswer == 'Y'}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                            </svg>
                                                        </th:block>
                                                    </td>
                                                </th:block>
                                            </th:blocK>
                                        </th:block>
                                    </th:block>
                                    
                                    <th:block th:if="${session.loginInfo == null}">
                                        <th:block th:if="${board.boardSecret == 'NO'}">
                                            <td class="bi bi-chat-left-heart" th:onclick="goDetailSelect([[${board.boardCode}]])">[[${board.boardTitle}]]
                                                <th:block th:if="${board.boardAnswer == 'Y'}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                        <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                    </svg>
                                                </th:block>
                                            </td>
                                        </th:block>
        
                                        <th:block th:unless="${board.boardSecret == 'NO'}">
                                            <td class="bi bi-chat-left-heart">비밀글입니다.
                                                <th:block th:if="${board.boardAnswer == 'Y'}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                                        <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                                                    </svg>
                                                </th:block>
                                            </td>
                                        </th:block>
                                    </th:block>
                                    <td>[[${board.boardWriter}]]</td>
                                    <td>[[${board.boardDate}]]</td>
                                </tr>
                            </th:block>
                        </table>
                        <!-- th:each="i :${#numbers.sequence(1, 10)}" -->
                        <div>
                            <th:block th:if="${searchVO.prev}">
                                <a th:href="@{/board/inquiry(nowPage=${searchVO.beginPage - 1})}">이전</a>
                            </th:block>
                            <th:block th:each="i :${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">     
                                <a th:href="@{/board/inquiry(nowPage=${i})}">[[${i}]]</a>
                            </th:block>
                            <th:block th:if="${searchVO.next}">
                                <a th:href="@{/board/inquiry(nowPage=${searchVO.endPage + 1})}">다음</a>
                            </th:block>
                        </div>
                        
                    </div>
                </div>
            </div>
        
            <div class="row justify-content-center">
                <div class="col-10">
                    <th:bolck th:if="${session.loginInfo != null}">
                        <div class="inquiry_btn">
                            <input type="button" value="내가 쓴글" onclick="myWriting()">
                            <input type="button" value="글쓰기" onclick="goWriting()">
                        </div>
                    </th:bolck>
                </div>
            </div>
        
            <div class="row justify-content-center" style="height: 600px;">
                <div class="col-10">
                    <div class="inquiry_serch">
                        <select>
                            <option value="">제목</option>
                            <option value="">아이디</option>
                        </select>
                        <input type="text">
                        <input type="submit" value="검색">
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/board/inquiry_page.js"></script>
</th:block>
</html>