<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/inquiry_page.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="inquiry_container">
                <div class="inquiry_title">
                    <h5>문의</h5>
                </div>

                <table class="table inquiry_table" style="text-align: center;">
                    <colgroup>
                        <col width="10%">
                        <col width="50%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <tr>
                        <td>번호</td>
                        <td>글제목</td>
                        <td>글쓴이</td>
                        <td>작성일</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <th:bolck th:if>

            </th:bolck>
            <div class="inquiry_btn">
                <input type="button" value="내가 쓴글">
                <input type="button" value="글쓰기" onclick="goWriting()">
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="inquiry_serch">
                <select>
                    <option value="">제목</option>
                    <option value="">아이디</option>
                </select>
                <input type="text">
                <input type="submit" value="검색">
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/board/inquiry_page.js"></script>
</th:block>
</html>