<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/main_homepage.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="row main_row" >
        <div class="col mainContainer">
            <div class="subMain">
                <div class="navText">
                    <span>premium Green room</span>
                </div>
                <div class="mainText">
                    <span>
                        <img src="/img/homepage/greenLogo2.gif" alt="그린독서실 로고">
                    </span>
                </div>
                <div class="footerText">
                    <span>삼산동 최고의 면학 집중공간</span>
                </div>
            </div>    
        </div>
    </div>
        
 
    <!-- html 코드 작성 -->
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>