<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/main_homepage.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <div style="height: 900px;">
        
    </div>
    <!-- html 코드 작성 -->
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>