<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/my_counter.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-5">
        <div class="col">
            <div class="counter-header">
                <h3>카운터 채팅</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col">
                <table class="user-chat-table">
                    <tbody class="userChat">
                        <tr th:each="msg : ${msgList}">
                            <th:block th:if="${msg.toFrom == 'FROM'}">
                                <td width="60%"></td>
                                <td>
                                    <!-- <div>
                                        <span>&ensp;발신</span>
                                    </div> -->
                                    <div class="toMsg">
                                        <div class="botMsg">
                                            <span>[[${msg.messageContent}]]</span>
                                        </div>
                                    </div>
                                    <div class="topMsg" style="float: left;">
                                        <span>&ensp;&ensp;[[${msg.messageDate}]]</span>
                                    </div>
                                </td>
                            </th:block>

                            <th:block th:if="${msg.toFrom == 'TO'}">
                                <td>
                                    <div class="userMsg">
                                        <span>&ensp;카운터</span>
                                    </div>
                                    <div class="fromMsg">
                                        <div class="botMsg">
                                            <span>[[${msg.messageContent}]]</span>
                                        </div>
                                    </div>
                                    <div class="topMsg" style="float: right;">
                                        <span>[[${msg.messageDate}]]&ensp;&ensp;</span>
                                    </div>
                                </td>
                                <td width="60%"></td>
                            </th:block>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div class="btnDiv input">
                                    <span>
                                        <input type="text" value="카운터에게" style="background-color: #f2f4f7;"
                                            readonly>&ensp;
                                    </span>
                                    <!-- 채팅 -->
                                    <span>
                                        <input type="text"
                                            style="text-align: start; width: 79%; background-color: #f2f4f7;"
                                            id="user_message_content">
                                    </span>
                                    <div style="float: right;">
                                        <input type="button" value="전송" style="background-color: #5685e4; color: white;"
                                            th:onclick="sendMsg([[${session.loginInfo}]])">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/board/my_counter.js"></script>
</th:block>

</html>