<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/myBuyDetail.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <!-- 보드컨트롤러 변경해야함 (아마 조회컬럼) -->
    <div class="row">
        <div class="col">
            <div class="myBuyDetail-header">
                <h3>이용권/쿠폰 </h3>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-5">
            <div class="row text-start mt-5">
                <div class="col">
                    <h5>보유한 이용권</h5>
                </div>
            </div>

            <div class="row scrollbar mt-4 mb-5" style="height: 600px; overflow: auto; line-height: 4;">
                <div class="col">
                    <table class="table text-center align-middle table-bordered" style="font-size: 12pt;">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <thead>
                            <tr class="table-success align-middle" style="height: 65px;">
                                <td colspan="2">[[${session.loginInfo.memberId}]]님의 이용권</td>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.isEmpty(haveCharge)}">
                                <tr>
                                    <td colspan="2">보유한 이용권이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:if="${#lists.size(haveCharge)} == 1">
                                <tr style="height: 50px;">
                                    <td>상품명</td>
                                    <td>[[${haveCharge[0].chargeVO.chargeName}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>구입날짜</td>
                                    <td>[[${buyDetailInfo[0].approvalDate}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>쿠폰사용 여부</td>
                                    <td>[[${buyDetailInfo[0].couponUse}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>결제금액</td>
                                    <td>[[${#numbers.formatCurrency(buyDetailInfo[0].approvalFee)}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>만료날짜</td>
                                    <td>[[${endDate}]] 만료</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>남은일수</td>
                                    <td>[[${remainDate}]]일</td>
                                </tr>
                            </th:block>
                            <th:block th:if="${#lists.size(haveCharge)} == 2">
                                <tr style="height: 50px;">
                                    <td rowspan="2">상품명</td>
                                    <td>[[${haveCharge[0].chargeVO.chargeName}]]</td>
                                </tr>
                                <tr>
                                    <td>[[${haveCharge[1].chargeVO.chargeName}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td rowspan="2">이용권 시작 날짜</td>
                                    <td>[[${buyDetailInfo[0].approvalDate}]]</td>
                                </tr>
                                <tr>
                                    <td>[[${buyDetailInfo[1].approvalDate}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td rowspan="2">쿠폰사용 여부</td>
                                    <td>[[${buyDetailInfo[0].couponUse}]]</td>
                                </tr>
                                <tr>
                                    <td>[[${buyDetailInfo[1].couponUse}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td rowspan="2">결제금액</td>
                                    <td>[[${#numbers.formatCurrency(buyDetailInfo[0].approvalFee)}]]</td>
                                </tr>
                                <tr>
                                    <td>[[${#numbers.formatCurrency(buyDetailInfo[1].approvalFee)}]]</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>첫번째 이용권 만료날짜</td>
                                    <td>[[${endDate}]] 만료</td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td>첫번째 이용권 남은일수</td>
                                    <td>[[${remainDate}]]일</td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="offset-1 col-5">
            <div class="row text-start mt-5">
                <div class="col">
                    <h5>보유한 쿠폰</h5>
                </div>
            </div>
            
            <div class="row scrollbar mt-4 mb-5" style="height: 600px; overflow: auto;">
                <div class="col">

                    <table class="table table-hover text-center align-middle table-bordered" style="font-size: 12pt; line-height: 4;">
                        <colgroup>
                            <col width="70%">
                            <col width="30%">
                        </colgroup>
                        <thead>
                            <tr class="table-success align-middle" style="height: 65px;">
                                <td>쿠폰명</td>
                                <td>할인율</td>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.size(ownCouponList)} == 0">
                                <tr>
                                    <td colspan="2">보유한 쿠폰이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:if="${#lists.size(ownCouponList)} != 0">
                                <th:block th:each="e : ${ownCouponList}">
                                    <tr>
                                        <td>[[${e.couponVOList[0].couponName}]]</td>
                                        <td>[[${e.couponVOList[0].discountPercent}]]% 할인</td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </tbody>
                    </table>
                    <!-- <button type="button" class="btn btn-danger mb-5"
                        onclick="location.href='/seat/chargeBuy'">쿠폰사용</button> -->
                </div>
            </div>
        </div>

    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>