<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/myWriting.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="myWrite-header">
                <h3>내 문의 </h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="myWrite-btn">
                <div class="my_btn">
                    <span>
                        <input type="button" value="작성한 글">
                    </span>
                    <span>
                        <input type="button" value="작성한 리뷰" onclick="goReview()">
                    </span>
                </div>
            </div>

            <div class="myPage-table">
                <th:block th:if="${#lists.size(boardList)} == 0">
                    <div class="row" style="height: 350px;">
                        <div class="col">
                            <div style="font-size: 17pt; margin-top: 150px;">
                                등록한 글이 없습니다.
                            </div>
                        </div>
                    </div>
                </th:block>
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="60%">
                        <col width="30%">
                        <col width="*">
                    </colgroup>
                    <th:block th:each="board , state : ${boardList}">
                        <tr>
                            <td>[[${#lists.size(boardList) - state.index}]]</td>
                            <td th:onclick="goDetailSelect([[${board.boardCode}]])">[[${board.boardTitle}]]</td>
                            <td>[[${board.boardDate}]]</td>
                            <td><input type="button" value="삭제" th:onclick="deleteBoard([[${board.boardCode}]])"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </div>
    </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/board/myWriting.js"></script>
</th:block>

</html>