<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <link rel="stylesheet" href="/css/homepage/writeReview.css">
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="row justify-content-center">
    <div class="col-10">
        <form action="/review/writeReview" method="post">

            <div class="rev-header">
                <h3>Review</h3>
                <div class="rev-text">
                    Green Study Room 회원님들이 작성해주신 리뷰입니다.
                </div>
            </div>

            <div class="review-container" style="text-align: center; height: 700px;">
                <div class="rev-body" style="text-align: center;">
                    <div class="rev-body-clock" style="display: flex;">
                        <h6>작성시간 : </h6> 
                        <span class="day">[[${reviewVO.reviewDate}]]</span> 
                        <h6 style="margin-left: 20px;">작성자 :</h6>
                        <span class="day">[[${reviewVO.reviewWriter}]]</span> 
                    </div>
                    <div class="rev-body-detail">
                        <input type="text" th:value="${reviewVO.reviewContent}" readonly>
                        <!-- <textarea name="reviewContent" cols="60" rows="12" th:value=""></textarea> -->
                    </div>
                    <div class="rev-footer">
                        <input type="button" value="뒤로가기" onclick="location.href='/review/review'">
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴 때 같이 실행되는 js -->
  <!-- <script src="/"></script> -->
</th:block>
</html>