<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/review.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="review-header">
                <h3>리뷰</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="review-main">
                <th:block th:each="review : ${reviewList}">
                    <div class="review-body">
                        <h6>[[${review.reviewContent}]]</h6>
                        <div class="review-date">
                            <span>[[${review.reviewDate}]]</span>
                            <span>[[${review.reviewWriter}]]</span>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="review-footer">
                <input type="button" th:onclick="writeReview([[${inoutList}]])" value="리뷰쓰기">
            </div>
            
            <!-- 별점 -->
            <div class="review-pop">
                <div class="pop-header"></div>
                <div class="pop-con">
                    <div class="pop-con1">
                        리뷰는 독서실 이용내역이 있으신 분들에 한해<br>
                        작성할 수 있도록 하였습니다. 
                    </div>
                    <button type="button" class="pop-close">닫기</button>
                </div>
            </div>
        </div>
    </div> 
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/board/review.js"></script>
</th:block>

</html>