<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/review.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="review-header">
                <h3>리뷰</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="review-main">
                <div class="review-body">
                    <div class="starpoint_wrap">
                        <div class="starpoint_box">
                            <label for="starpoint_1" class="label_star" title="0.5">
                                <span class="blind">0.5점</span>
                            </label>
                            <label for="starpoint_2" class="label_star" title="1">
                                <span class="blind">1점</span>
                            </label>
                            <label for="starpoint_3" class="label_star" title="1.5">
                                <span class="blind">1.5점</span>
                            </label>
                            <label for="starpoint_4" class="label_star" title="2">
                                <span class="blind">2점</span>
                                </label>
                            <label for="starpoint_5" class="label_star" title="2.5">
                                <span class="blind">2.5점</span>
                                </label>
                            <label for="starpoint_6" class="label_star" title="3">
                                <span class="blind">3점</span>
                                </label>
                            <label for="starpoint_7" class="label_star" title="3.5">
                                <span class="blind">3.5점</span>
                                </label>
                            <label for="starpoint_8" class="label_star" title="4">
                                <span class="blind">4점</span>
                                </label>
                            <label for="starpoint_9" class="label_star" title="4.5">
                                <span class="blind">4.5점</span>
                                </label>
                            <label for="starpoint_10" class="label_star" title="5">
                                <span class="blind">5점</span>
                            </label>
                            <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                            <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                            <span class="starpoint_bg"></span>
                        </div>
                    </div>
                    <h6>깔끔해서 너무 좋아요.</h6>
                </div>
            </div>
            <div class="review-footer">
                <input type="button" onclick="writeReview()" value="리뷰쓰기">
            </div>
            
            <!-- 별점 -->
           
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/board/review.js"></script>
</th:block>

</html>