<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/studyInfo.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header_text">
                    <h4>소개</h4>
                </div>
                <div class="study_info_content">
                    <div class="img_con">
                        <img src="/img/homepage/이미지 준비중.jpg" alt="#">
                        <img src="/img/homepage/이미지 준비중.jpg" alt="#">
                    </div>  
                   
                    <div class="con1_text">
                        <h5>프리미엄 그린 독서실</h5>
                        <p>
                            삼산동 최고의 시설, 최고의 면학 공간을 자랑하는 프리미엄 그린 독서실 입니다.
                            쾌적한 공부환경을 만들기 위해 나이대 별로 층을 나누어 불편함을 최소화 시켰습니다.<br>
                            불편사항이 있으시다면 홈페이지 문의에 글을 남겨주세요.
                            빠른 시일내에 확인 후 도움을 드리도록 하겠습니다. <br>
                            더 나은 미래를 위해 열심히 노력하는 여러분들을 늘 응원하겠습니다 😊
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header">
                    <h4>좌석선택</h4>
                    <span ><a onclick="location.href='/seat/seatLive'">더보기 ></a></span>
                </div>

                <div class="study_info_content" style="margin-top: 20px;">
                    <div class="img_con">
                        <img src="/img/homepage/이미지 준비중.jpg" alt="#">
                        <img src="/img/homepage/이미지 준비중.jpg" alt="#">
                    </div>  
                    
                    <div class="con2_text">
                        <h5>1층 지정석 <span style="font-size: 16px;">❤중고등학생들 전용 공간❤</span> </h5>
                        <p>
                            1층은 학생들만 사용할 수 있는 전용공간이며,<br>
                            칸막이로 옆좌석과 분리되어 있어 본인 좌석 내에서 집중력을 높일 수 있는 좌석들로만 구성되어있습니다.<br>
                            
                        </p>
                        <h5>2층 지정석<span style="font-size: 16px;"> ❤어른들을 위한 전용 공간❤</span></h5>
                        <p>
                            2층 또한 칸막이로 옆좌석과 분리되어 있어 집중력을 높일 수 있는 좌석입니다.<br>
                            20대부터 사용하실 수 있으시며, 노트북과 회의를 자유롭게 하실 수 있으십니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header">
                    <h4>가격안내</h4>
                </div>

                <div class="study_info_content" style="margin-top: 20px;"> 
                    <div class="con3_text">
                       <table class="table align-middle">
                            <th:block th:each="charge : ${chargeList}">
                                <colgroup>
                                    <col width="90%">
                                    <col width="*">
                                </colgroup>
                                <tr>
                                    <td>[[${charge.chargeName}]]</td>
                                    <td class="text-end">[[${charge.chargeFee}]]</td>
                                </tr>
                            </th:block>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header">
                    <h4>리뷰</h4>
                    <span ><a href="#">더보기 ></a></span>
                </div>

                <div class="study_info_content" style="margin-top: 20px;"> 

                    <div class="con3_text">
                        현재 작성된 리뷰가 없습니다.😊
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header">
                    <h4>문의</h4>
                    <span ><a  onclick="location.href='/board/inquiry'">더보기 ></a></span>
                </div>

                <div class="study_info_content" style="margin-top: 20px; display: flex; justify-content: center;"> 

                        <th:block th:if="${#lists.isEmpty(boardList)}">
                            <div>
                                작성된 문의글이 없습니다.
                            </div>
                        </th:block>

                    
                        <th:block th:unless="${#lists.isEmpty(boardList)}">
                            <th:block th:each="board : ${boardList}">
                                <th:block th:if="${board.boardSecret == 'YES'}">
                                    <div class="con4_text">
                                        <div class="con4_header bi bi-lock">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                                            </svg>
                                            비밀글
                                        </div>
                                        <div class="con4_content">
                                            <span>
                                                [[${board.boardWriter}]]
                                            </span>
                                            <span style="border: none; color: #ccc; font-size: 13px;">
                                                [[${board.boardDate}]]
                                            </span>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block> 
                            
                            <th:block th:each="board : ${boardList}">
                                <th:block th:unless="${board.boardSecret == 'YES'}">
                                    <div class="con4_text">
                                        <div class="con4_header">
                                            [[${board.boardTitle}]]
                                        </div>
                                        <div class="con4_content">
                                            <span> 
                                                [[${board.boardWriter}]]
                                            </span>
                                            <span style="border: none; color: #ccc; font-size: 13px;">
                                                [[${board.boardDate}]]
                                            </span>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </th:block>   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="study_infomation">
                <div class="study_info_header">
                    <h4>오시는길</h4>
                    <span ><a onclick="location.href='/board/wayToCome'">더보기 ></a></span>
                </div>

                <div class="study_info_content" style="margin-top: 20px;"> 

                    <div class="con5_text">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="map-container">
                                    <!--
                                            * 카카오맵 - 약도서비스
                                            * 한 페이지 내에 약도를 2개 이상 넣을 경우에는
                                            * 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
                                    -->
                                    <!-- 1. 약도 노드 -->
                                    <div id="daumRoughmapContainer1709617089777" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                    
                                    <!-- 2. 설치 스크립트 -->
                                    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
                    
                                    <!-- 3. 실행 스크립트 -->
                                    <script charset="UTF-8">
                                        new daum.roughmap.Lander({
                                            "timestamp" : "1709617089777",
                                            "key" : "2idch",
                                            "mapWidth" : "800",
                                            "mapHeight" : "400"
                                        }).render();
                                    </script>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="map-footer">
                                    <div class="map-title">
                                        <span style="margin-top: 10px;">그린 독서실</span>
                                        <h3 style="margin-top: 10px; margin-left: 5px;">울산 남구 삼산중로100번길 26 KM빌딩</h3>
                                    </div>
                                    <div class="map-info">
                                        <table class="table map-table">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                            </colgroup>
                                            <tr>
                                                <td rowspan="2" class="bi bi-geo-alt">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                    </svg>
                                                      오시는길</td>
                                                <td>삼산동 우체국 맞은편 도보 1분</td>
                                            </tr>
                                            <tr>
                                                <td>울산 업스퀘어 뒷편 도보 3분</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="map-tel">
                                        <table class="table">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                            </colgroup>
                                            <tr>
                                                <td class="bi bi-telephone">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                                    </svg>
                                                    전화번호</td>
                                                <td>052-716-3199</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>