<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/homepage/writeReview.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="review-container" style="text-align: center;">
                <div class="rev-header">
                    <h3>리뷰작성</h3>
                    <div class="rev-text">
                        여러분들의 소중한 의견을 전달해주세요😊
                    </div>
                </div>
                <div class="rev-body" style="text-align: center;">
                    <table>
                        <tr>
                            <td>별점</td>
                            <td>
                                <div class="starpoint_wrap">
                                    <div class="starpoint_box">
                                        <label for="starpoint_1" class="label_star" title="0.5">
                                            <span class="blind">0.5점</span>
                                        </label>
                                        <label for="starpoint_2" class="label_star" title="1">
                                            <span class="blind">1점</span>
                                        </label>
                                        <label for="starpoint_3" class="label_star" title="1.5">
                                            <span class="blind">1.5점</span>
                                        </label>
                                        <label for="starpoint_4" class="label_star" title="2">
                                            <span class="blind">2점</span>
                                            </label>
                                        <label for="starpoint_5" class="label_star" title="2.5">
                                            <span class="blind">2.5점</span>
                                            </label>
                                        <label for="starpoint_6" class="label_star" title="3">
                                            <span class="blind">3점</span>
                                            </label>
                                        <label for="starpoint_7" class="label_star" title="3.5">
                                            <span class="blind">3.5점</span>
                                            </label>
                                        <label for="starpoint_8" class="label_star" title="4">
                                            <span class="blind">4점</span>
                                            </label>
                                        <label for="starpoint_9" class="label_star" title="4.5">
                                            <span class="blind">4.5점</span>
                                            </label>
                                        <label for="starpoint_10" class="label_star" title="5">
                                            <span class="blind">5점</span>
                                        </label>
                                        <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                                        <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                                        <span class="starpoint_bg"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>