<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/seat/charge_buy.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->

    <div class="row mt-5">
        <div class="col">
            <div class="buy-header">
                <h3>이용권구매</h3>
            </div>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">

            <div class="col-6">
                <div class="row text-start mt-5">
                    <div class="col">
                        <h5>이용권 종류 및 선택</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="text-end" style="font-size: 11pt;">
                        * 총 <span>[[${chargeList.size}]]</span>개의 상품이 등록되어 있습니다.
                        </div>
                    </div>
                </div>
                <div class="row scrollbar" style="height: 100%; overflow: auto;">
                    <div class="col">
                        <table class="table table-hover text-center align-middle table-bordered" style="font-size: 12pt;">
                            <colgroup>
                                <col width="20%">
                                <col width="50%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                                <tr class="table-success align-middle" style="height: 65px;">
                                    <td>No</td>
                                    <td>상품명</td>
                                    <td>가격</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer-span" style="height: 50px;" th:each="charge, state : ${chargeList}" th:onclick="buyDetail([[${charge.chargeCode}]], [[${session.loginInfo}]], [[${haveCharge}]])">
                                    <td>[[${state.index + 1}]]</td>
                                    <td>[[${charge.chargeName}]]</td>
                                    <td>[[${charge.chargeFee}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="offset-1 col-5 buyDetail">
                <!-- 자바스크립트 -->
                
                
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="/js/seat/charge_buy.js"></script>
    <!-- <script src="https://cdn.iamport.kr/v1/iamport.js"></script> -->
</th:block>
</html>