<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    
    <div class="container text-center">
        실시간 좌석 확인 html
        <div class="floorBtn mt-3">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-light">1층</button>
                    <button type="button" class="btn btn-light">2층</button>
                </div>
            </div>
        </div>
            
        <div class="seatLive">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>

        </div>

        <div class="reservationBtn mt-3">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger">예약하기</button>
                </div>
            </div>
        </div>
    </div>

</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>