<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/seat/seat_live.css">
</th:block>

<th:block layout:fragment="contentFragment">

  
            <!-- <div class="diagonal4"></div>
            <div class="diagonal5"></div>
            <div class="aht"></div> -->

    <div class="seat-Main">
        <div class="seat-header">
            <h3>Seat</h3>
        </div>

        <div class="seat-container text-center">
            <div class="row">
                <div class="col">
                    
                    <div>
                        <div class="row mt-5 mb-5">
                            <div class="col">
                                <button type="button" class="btn btn-light floor-btn1" onclick="onefloor()">1층</button>
                                <button type="button" class="btn btn-light floor-btn2" onclick="twofloor()">2층</button>
                            </div>
                        </div>
                    </div>
                        
                    <div class="seatLive">
                        <!-- 자바스크립트 채울공간 -->
                    </div>

                    <div class="reservationBtn mt-4">
                        <div class="row">
                            <div class="col">
                                <th:block th:if="${reservationMem == null}">
                                    <button type="button" class="seat-btn mb-5" th:onclick="reservation([[${session.loginInfo}]],[[${haveCharge}]],[[${remainDate}]],[[${endDate}]])">입실하기</button>    
                                </th:block>
                                <th:block th:if="${reservationMem != null}">
                                    <button type="button" class="seat-btn  mb-5" onclick="seatMove()">자리이동</button>    
                                    <button type="button" class="seat-btn  mb-5" onclick="seatOut()">퇴실하기</button>    
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal -->

    <div class="modal" id="seat-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content detail-modal">
                <div class="modal-header">
                    <h5 class="modal-title">입실 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body seat-modal-body text-center">
                    <!-- 자바스크립트로 내용 채우기 -->
                </div>
            </div>
        </div>
    </div>


</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/seat/seat_live.js"></script>
</th:block>
</html>