<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">




    <!-- <div class="footer">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="footer_con1">
                    <span>
                        프리미엄 그린독서실
                    </span>
                </div>
                
                <div class="footer_con3">
                    <a href="#">
                        <img src="/img/homepage/logo1.png" alt="#">
                    </a>
                    <a href="#">
                        <img src="/img/homepage/logo2.png" alt="#">
                    </a>
                    <a href="#">
                        <img src="/img/homepage/logo3.png" alt="#">
                    </a>
                </div>
                
                <div class="footer_con2">
                    <ul>
                        <li>그린독서실</li>
                        <li>만든사람</li>
                        <li>지선영</li>
                        <li>장무옥</li>
                        <li>윤상혁</li>
                        <li>김주희</li>
                        <li style="border: none;">전화번호 : 052-716-3199</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->


</th:block>

</html>