<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menuFragment">
    <div class="row">
      <div class="col menu">
        <ul>
          <li style="margin-right: 20px; 
                     border-right: 1px solid #ccc; 
                     padding: 10px 30px">
                     <span>그린독서실</span>
          </li>
          <li><a onclick="location.href='/board/mainHomepage'">홈</a></li>
          <li><a href="#">매장소개</a></li>
          <li><a onclick="location.href='/seat/seatLive'">좌석예약</a></li>
          <li><a href="#">리뷰</a></li>
          <li><a onclick="location.href='/board/inquiry'">문의</a></li>
          <li><a href="#">오시는길</a></li>
          <th:block th:if="${session.loginInfo == null }">
              <li style="margin-left: 350px;"><a onclick="location.href='/member/join'">회원가입</a></li>
              <li><a onclick="location.href='/member/loginForm'">로그인</a></li>
          </th:block>
          <th:block th:if="${session.loginInfo != null}">
              <li style="margin-left: 190px;"><span style="font-size: 17px;">[[${session.loginInfo.memberId}]]님</span></li>
              <li ><a href="" style="padding: 1px;">마이페이지</a></li>
              <li ><a href="" style="padding: 1px;">정액권구매</a></li>
              <li ><a href="" style="padding: 1px;">로그아웃</a></li>
          </th:block>
        </ul>
      </div>
    </div>

    
</th:block>

</html> 