<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menuFragment">
    <div class="menu">
      <ul>
        <li><a href="#">홈</a></li>
        <li><a href="#">매장소개</a></li>
        <li><a href="#">좌석예약</a></li>
        <li><a href="#">리뷰</a></li>
        <li><a href="#">문의</a></li>
        <li><a href="#">오시는길</a></li>
        <li style="margin-left: 470px;"><a href="#">회원가입</a></li>
        <li><a href="#">로그인</a></li>
      </ul>
    </div>
</th:block>

</html>