<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sideFragment">
    <div class="row justify-content-center" style="height: 700px; width: 200px;">
        <div class="col">
            <div class="sideMenu">
                <ul>
                    <li><a href="#">내정보</a></li>
                    <li><a href="#">정액권<br>/쿠폰</a></li>
                    <li><a href="#">예약조회</a></li>
                    <li><a href="#">내 문의</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</th:block>