.seatLive {
    margin: 0 auto;
    width: 100%;
    font-size: 11pt;
}

.seat-header {
    width: 81.5%;
    text-align: start;
    margin-top: 12px;
    margin-left: 190px;
    border-bottom: 3px solid black;
}
.modal-title{
    text-align: start;
    font-size: 23pt;
    margin-left: 20px;
}

.rest {
    border: 1px solid black;
    height: 650px;
}

.room {
    padding-top: 5px;
    border: 1px solid black;
}

.up-room {
    height: 280px;
}

.down-room {
    height: 330px;
    margin-top: 40px;
}

.one-seat {
    padding-top: 2px;
    border: 1px solid black;
    margin: 3px auto;
    width: 105px;
    height: 90px;
    cursor: pointer;
}
.non-click{
    background-color:rgb(226, 239, 218);
}
.click{
    background-color: rgb(255, 199, 206);
}

.floor-title {
    font-size: 20pt;
}

.floor-btn {
    width: 100px;
}

.line-height {
    line-height: 4;
    font-size: 15pt;
}