/* (공통)----------------------------------------------- */
body {
    vertical-align: middle;
}

.adminContainer {
    width: 90%;
}

.btnDiv input,
select {
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

.title {
    border-bottom: 3px solid #4d6d49;
    margin-top: 60px;
}

.adminContainer-table {
    width: 100%;
    border: 1px solid #dee2e6;
}

.adminContainer-table tr td {
    padding: 10px;
}

.table-success {
    border: 1px solid #a7b9b1;
}

/* (Info)----------------------------------------------- */

.memberInfo-table {
    width: 100%;
    border: 1px solid #ccc;
}

.memberInfo-table tr td {
    padding: 10px;
}

.memberInfo-table tr {
    border: 1px solid #dee2e6;
}

.infoIndex {
    background-color: #d1e7dd;
    height: 69px;
    border: 1px solid #a7b9b1;
}

.adminContainer-table-tbody {
    display: block;
    height: 269px;
    overflow-y: scroll;
}

.adminContainer-table-tbody tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

.adminContainer-table-tbody1 {
    display: block;
    height: 331px;
    overflow-y: scroll;
}

.adminContainer-table-tbody1 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody1::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody1::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody1::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

/* (Message)----------------------------------------------- */

.adminContainer-table-tbody2 {
    display: flex;
    height: 520px;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.adminContainer-table-tbody2 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody2::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody2::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody2::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

.adminContainer-table tfoot {
    border-top: 1px solid #ccc;
}

.adminContainer-table-tbody22 {
    display: block;
    height: 520px;
    overflow-y: scroll;
}

.adminContainer-table-tbody22 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody22::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody22::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody22::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

.userMsg {
    font-size: small;
    padding-bottom: 10px;
}

.botMsg {
    padding-bottom: 10px;
}

.topMsg {
    font-size: small;
    font-style: oblique;
    color: #ccc;
}

.toMsg {
    border-top: 1px solid #dee2e6;
}

.fromMsg {
    background-color: #ececec;
    border-top: 1px solid #dee2e6;
}

/* (Charge)----------------------------------------------- */

.adminContainer-table-tbody5 {
    display: block;
    height: 294px;
    overflow-y: scroll;
}

.adminContainer-table-tbody5 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody5::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody5::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody5::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

#charge-container {
    width: 100%;
}

.charge-title {
    font-size: larger;
}

/* (Log)----------------------------------------------- */

.logDate {
    font-style: oblique;
    color: #ccc;
    font-size: small;
    float: right;
    padding-top: 7px;
}

.logList-form-div {
    border: 1px solid #ccc;
}

.adminContainer-table-tbody4 {
    display: flex;
    height: 135px;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.adminContainer-table-tbody4 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody4::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody4::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody4::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}

.adminContainer-table-tbody44 {
    display: block;
    height: 547px;
    overflow-y: scroll;
}

.adminContainer-table-tbody44 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody44::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

.adminContainer-table-tbody44::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #4d6d49;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody44::-webkit-scrollbar-track {
    background: #dee2e6;
    /*스크롤바 뒷 배경 색상*/
}


/* ----------------------- */