/* (공통)----------------------------------------------- */
body {
    vertical-align: middle;
}

.adminContainer {
    width: 90%;
}

.btnDiv input, select {
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

.title {
    border-bottom: 1px solid #ccc;
}

.adminContainer-table {
    width: 100%;
    border: 1px solid #ccc;
}

.adminContainer-table tr td {
    padding: 10px;
}

/* (Info)----------------------------------------------- */

.adminContainer-table-tbody {
    display: block;
    height: 314px;
    overflow-y: scroll;
}

.adminContainer-table-tbody tr {
    display: table;
    width: 100%;
}

#changeInfo tr {
    border: 1px solid #ccc;
}

.Info-border {
    border-right: 1px solid #ccc;
}

.adminContainer-table-tbody::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.adminContainer-table-tbody::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000000; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody::-webkit-scrollbar-track {
    background: #ccc;  /*스크롤바 뒷 배경 색상*/
}

/* (Message)----------------------------------------------- */

.adminContainer-table-tbody2 {
    display: block;
    height: 60vh;
    overflow-y: scroll;
}

.adminContainer-table-tbody2 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody2 .topMsg {
    font-size: smaller;
    font-style: oblique;
    color: #ccc;
}

.adminContainer-table-tbody2::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.adminContainer-table-tbody2::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000000; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody2::-webkit-scrollbar-track {
    background: #ccc;  /*스크롤바 뒷 배경 색상*/
}

.adminContainer-table tfoot {
    border-top: 1px solid #ccc;
}

.adminContainer-table-tbody22 {
    display: block;
    height: 43.8vh;
    overflow-y: scroll;
}

.adminContainer-table-tbody22 tr {
    display: table;
    width: 100%;
}

.adminContainer-table-tbody22::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.adminContainer-table-tbody22::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000000; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody22::-webkit-scrollbar-track {
    background: #ccc;  /*스크롤바 뒷 배경 색상*/
}

/* (Charge)----------------------------------------------- */

.adminContainer-table-tbody5 {
    display: block;
    height: 220px;
    overflow-y: scroll;
}

.adminContainer-table-tbody5 tr {
    display: table;
    width: 100%;
}

.charge-td input {
    width: 100%;
    border: none;
}

.adminContainer-table-tbody5::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.adminContainer-table-tbody5::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000000; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.adminContainer-table-tbody5::-webkit-scrollbar-track {
    background: #ccc;  /*스크롤바 뒷 배경 색상*/
}

#charge-container {
    width: 100%;
}

/* (Log)----------------------------------------------- */

.logList-form-div{
    border: 1px solid #ccc;
}