.adminContainer {
    width: 90%;
}

.title {
    border-bottom: 3px solid black;
    margin-top: 60px;
    text-align: start;
}

.seatLive {
    font-size: 11pt;
    width: 90%;
    margin: 0 auto;
}

.modal-title {
    text-align: start;
    font-size: 23pt;
    margin-left: 20px;
}

.rest {
    border: 1px solid #999999;
    border-radius: 7px;
    height: 650px;
    background-color: white;
}

.room {
    padding-top: 5px;
    border: 1px solid #999999;
    border-radius: 7px;
    background-color: white;
}

.up-room {
    height: 280px;
}

.down-room {
    height: 330px;
    margin-top: 40px;
}

.one-seat {
    padding-top: 2px;
    border: 1px solid #999999;
    border-radius: 14px;
    margin: 3px auto;
    width: 105px;
    height: 90px;
    cursor: pointer;
}

.greenSeat {
    background-color: #e4eec6;
    cursor: default;
}

.non-click {
    background-color: #facad8;
}

.click {
    background-color: #f5b3b4; 
}

.floor-title {
    font-size: 20pt;
}

.floor-btn {
    width: 100px;
}

.line-height {
    line-height: 3;
    font-size: 15pt;
}

.room_border {
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 65px;
    background-color: #effaee;
}

.adminSeat-modal-body>.modal-table {
    margin-left: 25%;
}

.modal-table {
    width: 80%;
    font-size: 20px;
}

.modal-table tr td {
    padding-bottom: 30px;
}

.input-group button {
    width: 120px;
    height: 40px;
    border: 1px solid #dee2e6;
}

.input-group {
    display: flex;
    justify-content: center;
}

