.adminContainer {
    width: 90%;
}

.title {
    border-bottom: 3px solid #000000;
    margin-top: 60px;
}

.layer{
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 40vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.large-layer{
    height: 50vh;
}