<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <!-- <link rel="stylesheet" href="/css/common.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="idFind-container">
        <div class="idFind-header">
            
        </div>
        <div class="idFind-content"></div>
        <div class="idFind-footer"></div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/member/idFind.js"></script>
</th:block>
</html>
