<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <link rel="stylesheet" href="/css/member/id_find.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="idFind-container">
        <div class="idFind-header">
            <h3>ID 찾기</h3>
            <p>가입하셨던 회원님의 이메일과 이름을 입력해주세요.</p>
        </div>
        <form action="/member/idFind" method="post">
            <div class="idFind-content">
                <div class="id-content bi-person-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="color: #fff;">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <input type="text" placeholder="  이름" name="memberName">
                </div>
                
                <div class="email-content bi-envelope">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="color: #fff;">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <input type="text" placeholder="  이메일" name="memberEmail">
                </div>
                
                <div class="idFind-footer">
                    <input type="submit" value="전송">
                </div>
            </div>
           
        </form>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/member/idFind.js"></script>
</th:block>
</html>
