<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/member/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <!-- <link rel="stylesheet" href="/"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</th:block>

<th:block layout:fragment="contentFragment">
    <!--html 코드 작성-->
    <!-- 회원 가입 Modal -->
  <div class="modal fade" id="join-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- 모달 바디 -->
        <div class="modal-body">

          
            <form id="join-form" class="row g-3" action="/member/join" method="post">  
              <!-- 기본적으로 BOOTSTRAP은 한 줄에 col이 12개. -->
                <div class="col-12">
                    <label for="" class="form-label">아이디</label>
                    <input type="text" name="memberId" class="form-control" id="memberId">
                </div>
                <div class="col-12">
                    <label for="" class="form-label">PASSWORD</label>
                    <input type="password" name="memberPw" class="form-control" id="">
                </div>
                <div class="col-12">
                    <label for="" class="form-label">CONFIRM PASSWORD</label>
                    <input type="password" class="form-control" id="">
                </div>
                <div class="col-12">
                    <label for="" class="form-label">NAME</label>
                    <input type="text" name="memberName" class="form-control" id="">
                </div>
                <div class="col-4">
                    <label for="" class="form-label">TEL</label>
                      <select id="" class="form-select" name="memberTel">
                        <option value="010" selected>010</option>
                        <option value="011">052</option>
                      </select>
                </div>
                <div class="col-4">
                    <label for="" class="form-label">&nbsp;</label>
                    <input type="text" name="memberTel" class="form-control" id="">
                </div>
                <div class="col-4">
                    <label for="" class="form-label">&nbsp;</label>
                    <input type="text" name="memberTel" class="form-control" id="">
                </div>
                <div class="col-12">
                    <label for="" class="form-label">생년월일</label>
                    <input type="text" name="memberBirth" class="form-control" id="">
                </div>
                <div class="col-8">
                    <label for="" class="form-label">ADDRESS</label>
                    <input type="text" name="postCode" class="form-control" id="postCode" readonly>
                </div>
                <div class="col-4 d-grid">
                    <label for="" class="form-label">&nbsp;</label>
                    <input type="button" class="btn btn-success" value="SEARCH" onclick="searchAddress()">
                </div>
                <div class="col-12">
                    <input type="text" name="memberAddr" class="form-control" id="roadAddr" readonly>
                </div>
                <div class="col-12">
                    <input type="text" name="memberDetail" class="form-control" id="">
                </div>
                <div class="col-12">
                    <label for="" class="form-label">GENDER</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="" value="M" checked>
                    <label class="form-check-label" for="">MALE</label>&nbsp;
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="" value="W">
                    <label class="form-check-label" for="">FEMALE</label>
                </div>
                </div>
              </div>
            </form>
                <!-- 모달 푸터 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" onclick="join()">JOIN</button>
                </div>
              </div>
            </div>
          </div>
        


  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/member/join.js"></script>

</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <!-- <script src="/"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</th:block>
</html>