<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <!-- <link rel="stylesheet" href="/css/common.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!--html 코드 작성-->
    <div class="row justify-content-center" id="loginInfo" style="height: 550px;">
        <div class="col-3">
            <div class="form-floating mb-3" style="margin-top: 150px;">
                <input name="memberId" type="text" class="form-control" id="memberId" placeholder="아이디">
                <label for="memberId" style="font-size: 0.8rem;">I.D.</label>
            </div>
            <div class="form-floating mb-3">
                <input name="memberPw" type="password" class="form-control" id="memberPw" placeholder="비밀번호">
                <label for="memberPw" style="font-size: 0.8rem;">Password</label>
            </div>
            <div class="d-grid">
                <input type="button" class="btn btn-success" value="로그인" onclick="login()">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class=" col-1">
                <a onclick="location.href='/member/termsUse'">이용약관</a>
            </div>
            <div class="col-1">
                <a onclick="location.href='/member/privacyPolicy'">개인정보처리방침</a>
            </div>
            <div class="col-1" id="idFind">
                <a onclick="location.href='/member/idFindForm'">아이디 찾기</a>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/member/login.js"></script>
</th:block>
</html>
