<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <link rel="stylesheet" href="/css/common.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!--html 코드 작성-->
    <div class="row">
       

            <div class="row justify-content-center " id="loginInfo">
                <div class="col-4">
                    <div class="form-floating mb-3 mt-5">
                        <input name="memberId" type="text" class="form-control" id="memberId" placeholder="I.D.">
                        <label for="memberId" style="font-size: 0.8rem;">I.D.</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="memberPw" type="password" class="form-control" id="memberPw" placeholder="Password">
                        <label for="memberPw" style="font-size: 0.8rem;">Password</label>
                    </div>
                    <div class="d-grid">
                        <input type="button" class="btn btn-success" value="로그인" onclick="login()">

<!--top에서 내용 나와야됨 -->
                        <input type="button" class="btn btn-success" value="로그아웃" onclick="logout()">
                        
                    </div>
                </div>
            </div>
        
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/member/login.js"></script>
</th:block>
</html>
