<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/member/member_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!--html 코드 작성-->
    <div class="row">
        <form action="/member/login" method="post">
            아이디 : <input type="text" name="memberId"><br>
            비밀번호 : <input type="password" name="memberPw"><br>
                    <input type="submit" value="로그인">
        
        </form>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/"></script>
</th:block>
</html>
