<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <link rel="stylesheet" href="/css/member/passwordFindFirst.css">
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
    <div class="passwordFindFirst-container">
        <div class="passwowrdFindFirst-header">
            <h3>비밀번호를 찾고자 하는 아이디를 입력해주세요.</h3>
        </div>
        <div class="passwowrdFindFirst-content">
            <input type="text" name="memberId" class="selectId" placeholder=" 아이디">
        </div>
        <div class="passwowrdFindFirst-footer">
            <button type="button" onclick="findPassword()">다음</button>

            <div class="findFist-footer1">
                <span>아이디가 기억나지 않는다면?</span>
                <span style="color: #0ef106; font-weight: bold; text-decoration: underline; margin-left: 15px;" class="cursor"><a onclick="location.href='/member/idFind'">아이디 찾기</a></span>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴 때 같이 실행되는 js -->
  <script src="/js/member/passwordFindFisrt.js"></script> 
</th:block>
</html>