<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <link rel="stylesheet" href="/css/member/passwordFind.css">
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="password-container">
    <div class="password-header">
      <h3>비밀번호 찾기</h3>
      <p>비밀번호를 찾을 방법을 선택해주세요.</p>
    </div>
    <div class="password-content">

      <div class="find-tel">
        <input type="radio" th:onclick="goTel([[${memberList.memberId}]]); this.onclick='null';" class="showTel"> 
        <span class="span-header">회원에 등록한 전화번호로 찾기</span> 
        <span class="span-style"> ([[${memberList.secretTel}]])</span>
      </div>


      <div class="find-email">
        <input type="radio" th:onclick="goEmail([[${memberList.memberId}]])" class="showEmail"> 
        <span class="span-header">회원에 등록한 이메일로 찾기</span>
        <span class="span-style"> ([[${memberList.secretEmail}]])</span>
      </div>
        
        
    </div>
    <div class="password-footer">
      <button type="button" onclick="location.href='/board/mainHomepage'">홈</button>
    </div> 
  </div>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴 때 같이 실행되는 js -->
  <script src="/js/member/passwordFind.js"></script> 
</th:block>
</html>