<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <!-- <link rel="stylesheet" href="/css/common.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!--html 코드 작성-->


    <div class="row mainContent">
        <div class="col cont_login" style="margin-left: 200px;">
            <div style="text-align: center; font-size: 40px; margin-bottom: 30px;">개인정보 수집 및 이용에 대한 안내</div>
            <div class="agree_box_con">'프리미엄그린독서실'(이하 ‘회사'라 함)는 회원의 개인정보 보호를 매우 중요시하며, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 및 전기통신사업법, 통신비밀보호법을 준수하고 있습니다. <br>
                <br>
                회사는 개인정보취급방침을 수립하여 회원의 개인정보를 보호하고 있으며, 이를 홈페이지에 명시하여 회원이 온라인상에서 회사에 제공한 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치를 취하는지 알려드립니다. <br>
                <br>
                회사의 개인정보취급방침은 다음과 같은 내용을 담고 있습니다. <br>
                1. 수집하는 개인정보 항목 및 수집방법 <br>
                2. 개인정보의 수집 및 이용목적 <br>
                3. 수집한 개인정보의 보유 및 이용기간 <br>
                4. 수집한 개인정보의 공유 및 제공 <br>
                5. 수집한 개인정보 취급위탁<br>
                6. 개인정보의 파기 절차 및 방법 <br>
                7. 이용자 및 법정대리인의 권리와 그 행사방법 <br>
                8. 개인정보 자동수집장치의 설치, 운영 및 그 거부에 관한 사항 <br>
                9. 개인정보의 기술적, 관리적 보호 대책 <br>
                10 개인정보 관리 책임자 및 담당자의소속-성명 및 연락처 <br>
                11. 개인정보관련 신고 및 분쟁조정 <br>
                12. 고지의 의무</div>

            <div style="text-align: center; font-size: 40px; margin-bottom: 30px;">(비회원) 개인정보 수집항목 동의</div>

            <div class="agree_box_con">'프리미엄그린독서실'는 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.<br>
                <br>
                회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br>
                <br>
                회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>
                <br>
                ■ 수집하는 개인정보 항목<br>
                회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
                <br>
                ο 수집항목 : 이름 , 로그인ID , 비밀번호 , 휴대전화번호 , 이메일 , 주민등록번호(6자리) , 주소<br>
                ο 개인정보 수집방법 : 홈페이지(회원가입) <br>
                <br>
                ■ 개인정보의 수집 및 이용목적<br>
                회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다..<br>
                <br>
                ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 콘텐츠 제공<br>
                ο 회원 관리<br>
                회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 연령확인 , 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인 , 불만처리 등 민원처리 , 고지사항 전달<br>
                ο 마케팅 및 광고에 활용<br>
                신규 서비스(제품) 개발 및 특화 , 이벤트 등 광고성 정보 전달 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재<br>
                <br>
                ■ 개인정보의 보유 및 이용기간<br>
                회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.<br>
                <br>
                귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다.<br>
                회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br>
                기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br>
                <br>
                1.개인분쟁조정위원회 (www.1336.or.kr / 1336)<br>
                2.정보보호마크인증위원회 (http://www.eprivacy.or.kr / 02-580-0533~4)<br>
                3.대검찰청 인터넷범죄수사센터 (http://http://icic.sppo.go.kr / 02-3480-3600)<br>
                4.경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / 02-392-0330)</div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/member/login.js"></script>
</th:block>
</html>
