<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/main_layout}" >

<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/member/resetPassword.css">
  <!-- html 파일이 열릴 때 같이 실행되는 css -->
  <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="resetPassword-container">
    <div class="resetPassword-header">
        <h3>비밀번호 재설정</h3>
        <p style="margin-bottom: 10px;">비밀번호를 변경해주세요.<br>
        </p>
    </div>
    <div class="resetPassword-content">
        <div class="pasInput-header">
           <h4>GreenStudyRoom 아이디 : <span style="color: rgb(34, 218, 34); font-size: 23px; font-weight: bold; margin-left: 20px;" >[[${memberId}]]</span> </h4> 
        </div>
        <form action="/member/changePassword" method="post" class="formInfo">
            <div class="pasInput1">
                <input type="password" placeholder=" 새 비밀번호" name="memberPw" class="checkPw">
            </div>
            <div class="pasInput2">
                <input type="password" placeholder=" 새 비밀번호 확인" class="checkPw2">
            </div>
            <div class="pasFooter">
                <input type="button" onclick="changePassword()" value="변경하기">
            </div>
            <input type="hidden" th:value="${memberId}" name="memberId">
        </form>
    </div>
  </div>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴 때 같이 실행되는 js -->
  <script src="/js/member/resetPassword.js"></script>
</th:block>
</html>