@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.detail-select-container{
    display: flex;
    font-family: 'GowunBatang-Regular';
    height: 100vh;
}

.detail_select_header{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_select_header h3 {
    font-size: 55px;
    color: #fff;
    margin-left: 45px;
    padding: 10px;
}
.detail_select_Main{
    width: 70%;
    border-radius: 10px;
    background-color: #6b6b6bb4;
    backdrop-filter: blur(5px);
    color: #fff;
    margin-top: 100px;
}
.detail-table{
    width: 80%; 
    margin: 0 auto;
}
.detail-table td {
    padding: 20px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.detail_select_footer{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.detail_select_footer [type=text]{
    width: 90%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px ;
}
.detail_select_footer [type=submit]{
    margin-left: 10px;
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
.no-answer{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.yes-answer{
    margin-top: 20px;
}
.yes-answer table tr{
    background-color: #eeeded;
    border-radius: 5px;
}
/* .yes-answer table tr, td {
    border: none;
} */