.inquiry_title{
    margin-top: 150px;
    margin-bottom:30px;
    border-bottom:1px solid #ccc ;
    width: 100%;
    height: 30px;
}
.inquiry_title h5 {
    margin-left: 20px;
}
.inquiry_table {
    margin-top: 40px;
}
.inquiry_btn {
    margin-top: 20px;
    float: right;
}
.inquiry_btn input{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}
.inquiry_serch {
    text-align: center;
    margin-top: 20px;
}
.inquiry_serch select {
    width: 90px;
    height: 38.5px;
    border: 1px solid #ccc;
}
.inquiry_serch [type=text]{
    width: 250px;
    height: 38.5px;
    border: 1px solid #ccc;
}
.inquiry_serch [type=submit]{
    width: 90px;
    height: 39.3px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.paging{
    margin-top: 20px;
    text-align: center;
}
.paging a{
    padding: 5px;
}
.paging a:hover{
    background-color: #ccc;
}