@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.inquiry_container{
    display: flex;
    font-family: 'GowunBatang-Regular';
    font-weight: bold;
    /* background-color: #ccc; */
}
.inquiry_title h3{
    font-size: 55px;
}
.inquiry_title{
    width: 25%;
    margin-top: 50px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom:1px solid #ccc ; */
    /* width: 150px;
    height: 70px;
    padding: 10px;
   
    position: absolute; */
    color: #fff;
    font-family: '국립박물관문화재단클래식B';
    /* border-bottom: 2px solid #929292;
    background-color: #ffffff81;
    border-radius: 3px;
    top: 12%; */
}
.inquiry_content{
    position: relative;
    width: 75%;
    padding: 20px;
    margin-top: 150px;
    border-radius: 2px;
    background-color: #6b6b6bb4;
    backdrop-filter: blur(5px);
    border-radius: 10px;  
    height: 100vh;
}

.inquiry_table {
    width: 80%;
    margin: 0 auto;
    /* background-color: #fff; */
    background-color: #fff;
    border-radius: 15px;
}
.inquiry_table tr:first-child{
    /* border-radius: 15px; */
    height: 50px;
    padding: 15px;
    font-weight: lighter;
    /* background-color: #aaaaaae5; */
    background-color: rgb(171, 194, 212);
    border-radius: 15px;
    /* color: #fff; */
    /* border-bottom: 2px solid #bbb; */
    font-weight: bold;
    /* background-color: #ddddddea;
    border-bottom: 2px solid #929292; */
}
.borderLeft{
    border-radius: 15px 0px 0px 0px;
}
.borderRight{
    border-radius: 0px 15px 0px 0px;
}
.inquiry_table tr{
    
    border-bottom: 1px solid rgb(207, 225, 240);
    /* background-color: #cececeea; */
}
.inquiry_table td{
    padding: 20px;
}
.inquiry_table tr:last-child{
    border: none;
}

.inquiry_btn {
    margin-top: 20px;
    float: right;
    padding-right: 25px;
}
.inquiry_btn input{
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}
.inquiry_serch {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.inquiry_serch select {
    width: 90px;
    height: 38.5px;
    border: 1px solid #ccc;
}
.inquiry_serch [type=text]{
    width: 250px;
    height: 38.5px;
    border: 1px solid #ccc;
}
.inquiry_serch [type=submit]{
    font-weight: bold;
    width: 90px;
    height: 39.3px;
    background-color: rgb(171, 194, 212); 
    border: 1px solid rgb(171, 194, 212);
    margin-right: 30px;
}
.paging{
    margin-top: 20px;
    text-align: center;
    width: 50%;
    margin-left: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 23%;
    left: 15%;
}
.paging a{
    width: 25px;
    height: 30px;
    /* background-color: #fff; */
    /* padding: 10px; */
    /* border: 1px solid #acacacea; */
    margin-right: 10px;
    color: #fff;
}
/* .paging a:hover{
    background-color: #ccc;
} */