textarea{
    resize: none;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.writing-main{
    display: flex;
    font-family: 'GowunBatang-Regular';
}
.writing_container{
    width: 70%;
    padding: 20px;
    margin-top: 150px;
    border-radius: 2px;
    background-color: #6b6b6bb4;
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 10px;  
}
.writing_title{
    width: 25%;
    margin-top: 50px;
    margin-bottom:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px;
    margin-bottom:20px;
    border-bottom:1px solid #ccc ;
    width: 100%;
    height: 30px; */
    color: #fff;
    font-family: '국립박물관문화재단클래식B';
}
.writing_table {
    width: 80%;
    margin-top: 150px;
    margin: 0 auto;
    /* background-color: #c4c4c4; */
}
.writing_table tr{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.writing_table td{
    padding: 20px;
}
.writing_table span {
    font-size: 18px;
    display: inline-block;
    margin-top: 2px;
    color: red;
}

.writing_title h5 {
    font-size: 55px;
}
.writing_table [type=text]{
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    padding: 6px;
    padding-left: 10px;
}
.writing_table [type=text]:focus {
    outline: 3px solid rgb(122, 173, 211);
    box-sizing: border-box;
}
.writing_table textarea {
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 6px;
}
.writing_table textarea:focus{
    outline: 3px solid rgb(122, 173, 211);
    box-sizing: border-box;
}
.img_file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.img_file2{
    width: 130px;
    height: 130px;
    text-align: center;
    border: 2px dashed #ccc;
}
.img_file2 h6{
    margin-top: 10px;
    font-size: 12px;
}
#file{
    display: none;
}
.writing_btn {
    margin-top: 50px;
    height: 100px;
    float: right;
    padding-right: 80px;
}
.writing_btn input{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(217, 232, 243);
    background-color: rgb(236, 241, 245);
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    margin-bottom: 80px;
}
.writing_btn input:hover{
    color: #fff;
    background-color: #184207;
    border: none;
}
.tdTag{
    position: relative;
}
.tdTag img {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin-right: 20px;
}
.popUp{
    text-align: center;
    width: 350px;
    height: 150px;
    border: 3px solid #065a06;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.popUp h6{
    margin-top: 40px;
    font-weight: bold;
}
.popUp button {
    margin-top: 30px;
    width: 65px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #3c993c;
    color: #fff;
}
.popUp button:hover{
    cursor: pointer;
}

.popUp-2{
    text-align: center;
    width: 350px;
    height: 150px;
    border: 3px solid #065a06;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.popUp-2 h6{
    margin-top: 40px;
    font-weight: bold;
}
.popUp-2 button {
    margin-top: 30px;
    width: 65px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #3c993c;
    color: #fff;
}
.popUp-2 button:hover{
    cursor: pointer;
}

.popUp-3{
    text-align: center;
    width: 350px;
    height: 150px;
    border: 3px solid #065a06;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.popUp-3 h6{
    margin-top: 40px;
    font-weight: bold;
}
.popUp-3 button {
    margin-top: 30px;
    width: 65px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #3c993c;
    color: #fff;
}
.popUp-3 button:hover{
    cursor: pointer;
}

.popUp_4{
    text-align: center;
    width: 350px;
    height: 150px;
    border: 3px solid #065a06;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.popUp_4 h6{
    margin-top: 40px;
    font-weight: bold;
}
.popUp_4 button {
    margin-top: 30px;
    width: 65px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #3c993c;
    color: #000;
}
.popUp_4 button:hover{
    cursor: pointer;
}

