.mainContainer {
    height: 900px;
    position: relative;
}
.main_row{
    background: linear-gradient(#45607c,#4ca1af);
}
.subMain {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    text-align: center;
}
.navText{
    color: #058f05;
    width: 600px;
    font-size: 30px;
    font-weight: lighter;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc ;
}
.mainText {
    /* width: 1200px; */
    margin-top: 50px;
    font-size: 70px;
}
.mainText img {
    width: 450px;
    height: 400px;
}
.footerText {
    color: #096809;
    margin-top: 20px;
    font-size: 24px;
}