@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.counter-container{
    height: 100%;
}

.counter-header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-left: 190px;
    height: 100px;
    margin: 0 auto;
    color: #fff;
    font-family: 'GowunBatang-Regular';
}

.counter-header h3{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.user-chat-table{
    width: 100%;
    border: 1px solid #dee2e6;
}
.user-chat-table tr td {
    padding: 20px;
}

.userChat {
    display: flex;
    height: 520px;
    overflow-y: overlay;
    flex-direction: column-reverse;
    background-color: #92aac9;
}

.userChat tr {
    display: table;
    width: 100%;
}

.userChat::-webkit-scrollbar {
    width: 5px;
    /* 스크롤바의 너비 */
}

.userChat::-webkit-scrollbar-thumb {
    background: #352a9e;
    /* 스크롤바의 색상 */
    border-radius: 20px;
}

.userChat::-webkit-scrollbar-track {
    background: none;
    /*스크롤바 뒷 배경 색상*/
}

.user-chat-table tfoot {
    border-top: 1px solid #ccc;
}

.botMsg {
    padding-bottom: 10px;
}

.topMsg {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 18px;
}

.toMsg {
    background-color: #b1eb6b;
    border-radius: 20px;
    padding: 15px;
}

.fromMsg {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
}

.btnDiv input,
select {
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
}