.study_infomation{
    margin: 0 auto;
    width: 100%;
}
.study_info_header_text{
    width: 100%;
    margin-left: 30px;
    margin-top: 60px;
    border-bottom: 1px solid #000;
    padding: 10px;
}
.study_info_content{
    margin-top: 30px;
}
.img_con{
    display: flex;
    justify-content: center;
}
.img_con img{
    margin-left: 60px;
    padding: 10px;
    border: 1px solid #ccc;
}
.study_info_content{
    width: 100%;
}
.con1_text{
    margin-top: 40px;
    margin-left: 80px;
}
.con1_text p {
    padding: 10px;
}
.con2_text {
    margin-top: 50px;
    margin-left: 80px;
}
.con2_text p {
   padding: 10px
}
.study_info_header{
    padding: 10px;
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-top: 60px;
    border-bottom: 1px solid #000;
    position: relative;
}
.study_info_header span {
    position: absolute;
    display: inline-block;
    left: 95%;
    transform: translate(-95%);
    color: #818181;
}
.con3_text{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 80px;
}
.con3_text table {
    width: 90%;
}
.con3_text table td {
    height: 80px;
}
.con4_text{
    margin-top: 20px;
    margin-left: 80px;
    width: 450px;
    height: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc ;
}
.con4_header{
    margin-bottom: 70px;
    font-size: 24px;
    padding: 20px;
}
.con4_content {
    padding: 20px;
    font-size: 15px;
}
.con4_content span {
    padding-right: 20px;
    border-right: 1px solid #000;
    margin-right: 25px;
}


.map-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.map-footer {
    height: 500px;
    margin-top: 40px;
    width: 100%;
}
.map-title {
    border-bottom: 1px solid #ccc;
    margin-left: 140px;
    width: 74%;
    height: 120px;
}
.map-info {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    margin-left: 140px;
    width: 74%;
    height: 120px;
}
.map-table tr, td{
    border: none;
}
.map-tel {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    margin-left: 140px;
    width: 74%;
    height: 120px;
}
.map-tel tr, td{
    border: none;
}

/* 리뷰 */

.review-body{
    margin-right: 50px;
    background-color: #ffff99;
    border: 1px;
    width: 270px;
    height: 250px;
    /* 회전 */
    transform: rotate(5deg);
    padding: 10px;
    text-align: center;
    position: relative;
}
.review-body h6{
    position: absolute;
    top: 30%;
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.review-body::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffffc7;
    border-width: 0 0 30px 50px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.9);
}
.review-date {
    text-align: left;
    position: absolute;
    top: 80%;
}
.review-date span{
    padding: 10px;
    font-size: 15px;
}
.review-footer{
    text-align: right;
    width: 100%;
    height: 200px;
}
.review-footer input{
    border-radius: 15px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background-color: #000;
    color: #fff;
    
    border: 2px solid #000;
}
.review-footer input:hover{
    background-color: #fff;
    color: #000;
}