.review-container{
    height: 600px;
}
.rev-text{
    padding: 10px;
    border-bottom: 2px solid #000;
}
.rev-header{
    height: 150px;
} 
.rev-header h3{
    margin-top: 50px;
    padding: 10px;
}
.rev-body {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.rev-body textarea {
    resize: none;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 5px;
}
.rev-body-clock {
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.rev-body-clock h6{
    margin-top: 7px;
} 
.rev-body-clock span {
    margin-left: 10px;
}
.rev-footer {
    margin-top: 50px;
} 
.rev-footer input{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
}
.rev-footer input:hover{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}