
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.review-container{
    font-family: 'GowunBatang-Regular';
    height: 600px;
    width: 50%;
    margin: 0 auto;
}
.rev-text{
    padding: 10px;
    background-color: #3d3d3db4;
    backdrop-filter: blur(5px); 
    border-radius: 30px;
    width: 400px;
    margin: 0 auto;
    /* border-bottom: 2px solid #000; */
}
.rev-header{
    font-family: 'GowunBatang-Regular';
    color: #fff;
    height: 150px;
    text-align: center;
    margin-top: 100px;
} 
.rev-header h3{
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px;
}
.rev-body {
    /* background-color: #fff; */
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3d3d3db4;
    backdrop-filter: blur(5px);  
    border-radius: 30px;
    
}
.rev-body textarea {
    resize: none;
    padding: 15px;
    border-radius: 5px;
}
.rev-body-clock {
    color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
}
.rev-body-clock h6{
    margin-top: 7px;
} 
.rev-body-clock span {
    margin-left: 10px;
}
.rev-footer {
    margin-top: 50px;
} 
.rev-footer input{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #000000;
    border: none;
    font-weight: bold;
    color: #fff;
}
.rev-footer input:hover{
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: bold;
}
.rev-body-detail input{
    margin-top: 15px;
    padding: 10px;
    height: 300px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 10px;
    
}