<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

    <!-- 회원정보 불러오기(+ 검색) -->
    <select id="selectMemberInfo" resultMap="memberMapper.member">
        SELECT MEMBER_NAME
            , MEMBER_ID
            , MEMBER_CODE
            , IS_ADMIN
        FROM studyroom_member
        <if test='searchValue != null and !searchValue.equals("")'>
            WHERE ${searchType} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
        ORDER BY MEMBER_CODE DESC
    </select>






    <!-- 회원정보 상세 조회 -->
    <select id="selectMemberDetailInfo" resultMap="memberMapper.member">
        SELECT MEMBER_NAME
            , MEMBER_ID
            , MEMBER_GENDER
            , MEMBER_TEL
            , POST_CODE
            , MEMBER_ADDR
            , ADDR_DETAIL
            , IS_ADMIN
            , DATE_FORMAT(MEMBER_BIRTH, '%Y/%m/%d') MEMBER_BIRTH
        FROM STUDYROOM_MEMBER
        WHERE MEMBER_CODE = #{memberCode}
    </select>

    <!-- 회원정보/회원권한 변경 -->
    <update id="uptMemberInfo">
        UPDATE studyroom_member
        SET
        IS_ADMIN = #{isAdmin}
        , MEMBER_TEL = #{memberTel}
        , POST_CODE = #{postCode}
        , MEMBER_ADDR = #{memberAddr}
        , ADDR_DETAIL = #{addrDetail}
        WHERE MEMBER_CODE = #{memberCode}
    </update>







    <!-- 좌석 정보 조회 -->
    <select id="selectSeatDetailInfo" resultMap="seatMapper.seat">
        SELECT SEAT_NUM
                , SEAT_POWER
                , SEAT_FLOOR
                , AGE_CODE
                , SEAT.MEMBER_CODE
        FROM STUDYROOM_SEAT SEAT
        INNER JOIN STUDYROOM_MEMBER MEMBER
        ON SEAT.MEMBER_CODE = MEMBER.MEMBER_CODE
        WHERE SEAT.MEMBER_CODE = #{memberCode}
    </select>

    <!-- 좌석 정보 업데이트 -->
    <update id="uptSeatInfo">
        UPDATE STUDYROOM_SEAT
        SET
        SEAT_POWER = #{seatPower}

        WHERE MEMBER_CODE = #{memberCode}
    </update>


</mapper>































