<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chargeMapper">

    <!-- charge(요금) -->
    <resultMap id="charge" type="com.green.StudyRoom.admin.vo.ChargeVO">
        <id column="CHARGE_CODE" property="chargeCode"/>
        <result column="CHARGE_FEE" property="chargeFee"/>
        <result column="CHARGE_NAME" property="chargeName"/>
    </resultMap>

    <!-- 요금 IN -->
    <!-- 설정할 요금제의 이름 -->
    <!-- 설정할 요금제의 금액 -->
    <!-- 설정할 요금제의 지정시간 -->
    <insert id="insertCharge">
        INSERT INTO STUDYROOM_CHARGE (
            CHARGE_NAME
            , CHARGE_FEE
        ) VALUES (
            #{chargeName}
            , #{chargeFee}
        )
    </insert>

    <!-- 요금 OUT -->
    <!-- 설정된 요금제의 이름 -->
    <!-- 설정된 요금제의 금액 -->
    <!-- 설정된 요금제의 지정시간 -->
    <select id="selectCharge" resultMap="charge">
        SELECT CHARGE_NAME
            , CHARGE_FEE
            , CHARGE_CODE
        FROM STUDYROOM_CHARGE
        ORDER BY CHARGE_FEE DESC
    </select>

    <!-- 요금제 input 조회하기 / 비동기 조회 -->
    <select id="getCharge" resultMap="charge">
        SELECT CHARGE_NAME
            , CHARGE_FEE
        FROM STUDYROOM_CHARGE
        WHERE CHARGE_CODE = #{chargeCode}
    </select>

    <!-- 요금제 input 업데이트 -->
    <update id="uptCharge">
        UPDATE STUDYROOM_CHARGE
        SET
        CHARGE_NAME = #{chargeName}
        , CHARGE_FEE = #{chargeFee}
        WHERE CHARGE_CODE = #{chargeCode}
    </update>

    <!-- 요금제 input 삭제하기 -->
    <delete id="delCharge">
        DELETE FROM STUDYROOM_CHARGE
        WHERE CHARGE_CODE = #{chargeCode}
    </delete>


</mapper>































