<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="messageMapper">

    <!-- message(이용자 메세지) -->
    <!-- SELECT에서 MEMBER_CODE로 여러개 INNER JOIN -->
    <!-- FK 오류 안나는지 확인하기 -->
    <resultMap id="message" type="com.green.StudyRoom.admin.vo.MessageVO">
        <id column="MESSAGE_CODE" property="messageCode"/>
        <result column="MESSAGE_CONTENT" property="messageContent"/>
        <result column="MESSAGE_DATE" property="messageDate"/>
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="SEAT_NUM" property="seatNum"/>
    </resultMap>

    <!-- 사용자 메세지 IN -->
        <!-- 좌석번호 -->
        <!-- 내용 -->
    <insert id="insertMessage">
        INSERT INTO STUDYROOM_MESSAGE (
            SEAT_NUM
            , MEMBER_CODE
            , MESSAGE_CONTENT
        ) VALUES (
            #{seatNum}
            , #{memberCode}
            , #{messageContent}
        )
    </insert>

    <!-- 사용자 메세지 OUT -->
        <!-- 좌석번호 : n번 -->
        <!-- 사용자 : 이름 -->
        <!-- 내용 : ㅇㅇ -->
        <!-- 시간 : 몇시몇분 -->
    <select id="selectMessage" resultMap="message">
        SELECT MESSAGE_CONTENT
            , SEAT_NUM
            , MESSAGE.MEMBER_CODE
            , MEMBER_NAME
            , MESSAGE_DATE
        FROM STUDYROOM_MESSAGE MESSAGE INNER JOIN STUDYROOM_MEMBER MEMBER
        ON MESSAGE.MEMBER_CODE = MEMBER.MEMBER_CODE
    </select>




</mapper>































