<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="messageMapper">

    <!-- message(이용자 메세지) -->
    <resultMap id="message" type="com.green.StudyRoom.admin.vo.MessageVO">
        <id column="MESSAGE_CODE" property="messageCode"/>
        <result column="MESSAGE_CONTENT" property="messageContent"/>
        <result column="MESSAGE_DATE" property="messageDate"/>
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="TO_FROM" property="toFrom"/>
<!--        <result column="MEMBER_NAME" property="memberName"/>-->
<!--        <result column="MEMBER_ID" property="memberId"/>-->
<!--        <result column="IS_ADMIN" property="isAdmin"/>-->
        <association property="memberVO" resultMap="memberMapper.member"/>
<!--        <association property="seatVO" resultMap="seatMapper.seat"/>-->

    </resultMap>


    <!-- 모든 메세지 조회 -->
    <select id="selectMessage" resultMap="message">
        SELECT MESSAGE_CONTENT
            , MESSAGE.MEMBER_CODE
            , MEMBER_NAME
            , MEMBER_ID
            , DATE_FORMAT(MESSAGE_DATE, '%Y-%m-%d ㅤ%p %l:%i') MESSAGE_DATE
            , TO_FROM
        FROM STUDYROOM_MESSAGE MESSAGE
        INNER JOIN STUDYROOM_MEMBER MEMBER
        ON MESSAGE.MEMBER_CODE = MEMBER.MEMBER_CODE
        WHERE MESSAGE.MEMBER_CODE = #{memberCode}
        ORDER BY MESSAGE_CODE DESC LIMIT 100
    </select>

    <!-- 최근 댓글 조회하기 (FROM의 경우만 조회하기 / 미완성) -->
    <select id="selectRecentMsg" resultMap="message">
        SELECT MESSAGE_CONTENT
            , MESSAGE.MEMBER_CODE
            , MEMBER_NAME
            , MEMBER_ID
            , DATE_FORMAT(MESSAGE_DATE, '%Y-%m-%d ㅤ%p %l:%i') MESSAGE_DATE
            , TO_FROM
        FROM STUDYROOM_MESSAGE MESSAGE
        INNER JOIN STUDYROOM_MEMBER MEMBER
        ON MESSAGE.MEMBER_CODE = MEMBER.MEMBER_CODE
        WHERE TO_FROM = 'FROM'
        ORDER BY MESSAGE_CODE DESC LIMIT 3
    </select>

    <!-- 채팅보낼 사람 조회(+ 검색) -->
    <select id="selectWho" resultMap="memberMapper.member">
        SELECT MEMBER_NAME
            , MEMBER_ID
            , MEMBER_CODE
        FROM studyroom_member
        WHERE IS_ADMIN = 'USER'
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchType} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
        ORDER BY MEMBER_CODE DESC
    </select>

    <!-- 채팅받을 사람 -->
    <select id="selectMan" resultMap="memberMapper.member">
        SELECT MEMBER_NAME
            , MEMBER_ID
            , MEMBER_CODE
        FROM STUDYROOM_MEMBER
        WHERE MEMBER_CODE = #{memberCode}
    </select>

    <!-- 관리자가 보내는 메세지 -->
    <insert id="insertAdmMsg">
        INSERT INTO STUDYROOM_MESSAGE (
            MESSAGE_CONTENT
            , MEMBER_CODE
        ) VALUES (
            #{messageContent}
            , #{memberCode}
        )
    </insert>



</mapper>































