<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="salesMapper">

    <!-- 매출 관리 -->
    <select id="selectSales" resultMap="memberMapper.approval">
        SELECT APPROVAL_FEE
        FROM approval;
    </select>

    <!-- 매출 합계 -->
    <select id="salesSum" resultMap="memberMapper.approval">
        SELECT SUM(APPROVAL_FEE) AS APPROVAL_FEE
        FROM approval;
    </select>

    <!-- 이용권 매출 리스트 -->
    <select id="chargeSalesList" resultMap="seatMapper.salesInfo">
        SELECT COUNT(SALES_CODE) CNT
            , SALE.CHARGE_CODE
            , SUM(SALES_FEE) SALES_FEE
            , CHARGE_NAME
            , CHARGE_FEE
        FROM SALES_INFO SALE
        INNER JOIN STUDYROOM_CHARGE CHARG
        ON SALE.CHARGE_CODE = CHARG.CHARGE_CODE
        GROUP BY CHARGE_CODE
        ORDER BY SALES_FEE DESC;
    </select>

    <!-- 월별 -->
    <select id="">
        SELECT DATE_FORMAT(SALES_DATE, '%m') MONTH
        FROM SALES_INFO
        GROUP BY DATE_FORMAT(SALES_DATE, '%m')
    </select>

</mapper>































