<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="salesMapper">

    <!-- 이용권 매출 리스트 -->
    <select id="chargeSalesList" resultMap="seatMapper.salesInfo">
        SELECT COUNT(SALES_CODE) CNT
            , SALE.CHARGE_CODE
            , SUM(SALES_FEE) SALES_FEE
            , CHARGE_NAME
            , CHARGE_FEE
        FROM SALES_INFO SALE
        INNER JOIN STUDYROOM_CHARGE CHARG
        ON SALE.CHARGE_CODE = CHARG.CHARGE_CODE
        GROUP BY CHARGE_CODE
        ORDER BY CNT DESC;
    </select>

    <!-- 올해 기준으로 연간 매출 -->
    <select id="yearSales" resultMap="seatMapper.salesInfo">
        SELECT YEAR(SALES_DATE) YEAR_SALES
            , SUM(SALES_FEE) SALES_FEE
        FROM SALES_INFO
        GROUP BY YEAR(SALES_DATE)
        ORDER BY YEAR(SALES_DATE) DESC;
    </select>

    <!-- 올해의 월별 매출 -->
    <select id="monthSales" resultMap="seatMapper.salesInfo">
        SELECT MONTH(SALES_DATE) MONTH_SALES
            , SUM(SALES_FEE) SALES_FEE
        FROM SALES_INFO
        WHERE YEAR(SALES_DATE) = YEAR(NOW())
        GROUP BY MONTH(SALES_DATE)
        ORDER BY MONTH(SALES_DATE) ASC;
    </select>

</mapper>































