<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="logMapper">

    <!-- LOG(로그) 조회하기 / 이거 안씀 -->
    <!-- 사용자 이름, 사용자 이용시간(시작, 종료, 사용시간), 결제내역, 좌석번호, 예약정보, 메세지 -->
<!--	<resultMap id="timeLog" type="com.green.StudyRoom.admin.vo.TimeLogVO">-->
<!--        <result column="MEMBER_CODE" property="memberCode"/>-->
<!--        <result column="MEMBER_NAME" property="memberName"/>-->
<!--        <result column="RESERVATION_CODE" property="reservationCode"/>-->
<!--        <result column="RESERVATION_DATE" property="reservationDate"/>-->
<!--        <result column="APPROVAL_CODE" property="approvalCode"/>-->
<!--        <result column="DAY_INPUT" property="dayInput"/>-->
<!--        <result column="IN_OUT" property="inOut"/>-->
<!--        <result column="SEAT_POWER" property="seatPower"/>-->
<!--        <result column="SEAT_FLOOR" property="seatFloor"/>-->
<!--        <result column="MESSAGE_CODE" property="messageCode"/>-->
<!--        <result column="MESSAGE_CONTENT" property="messageContent"/>-->
<!--        <result column="MESSAGE_DATE" property="messageDate"/>-->
<!--    </resultMap>-->


    <!-- 결제 기록 가져오기 -->
    <select id="selectBuyList" resultMap="memberMapper.approval">
        SELECT DATE_FORMAT(APPROVAL_DATE, '%Y-%m-%d ㅤ%p %l:%i') APPROVAL_DATE
            , MEMBER_NAME
            , MEMBER_ID
            , CHARGE_NAME
            , APPROVAL_FEE
        FROM approval APP
        INNER JOIN studyroom_charge CHARGE
        ON APP.CHARGE_CODE = CHARGE.CHARGE_CODE
        INNER JOIN studyroom_member MEMBER
        ON APP.MEMBER_CODE = MEMBER.MEMBER_CODE
        ORDER BY APPROVAL_DATE DESC LIMIT 100
    </select>

    <!-- 입실 퇴실 기록 -->
    <select id="selectInOutList" resultMap="memberMapper.inOut">
        SELECT DAY_INPUT
            , MEMBER_NAME
            , MEMBER_ID
            , CASE
                WHEN IN_OUT = 'IN' THEN '입실'
                WHEN IN_OUT = 'OUT' THEN '퇴실'
                END IN_OUT
            , DATE_FORMAT(INOUT_TIME, '%Y-%m-%d ㅤ%p %l:%i') INOUT_TIME
        FROM studyroom_inout INOT
        INNER JOIN studyroom_member MEMBER
        ON INOT.MEMBER_CODE = MEMBER.MEMBER_CODE
        ORDER BY INOUT_TIME DESC LIMIT 100;
    </select>

    <!-- 좌석 상태 보기 -->
    <select id="selectSeatStatusList" resultMap="seatMapper.seat">
        SELECT SEAT_NUM
            , SEAT_FLOOR
            , CASE
                WHEN SEAT_POWER = 'ON' THEN '켜짐'
                WHEN SEAT_POWER = 'OFF' THEN '꺼짐'
                END SEAT_POWER
            , MEMBER_NAME
            , MEMBER_ID
            , MEMBER_TEL
        FROM studyroom_seat SEAT
        INNER JOIN seat_status STATUS
        ON SEAT.STATUS_NUM = STATUS.STATUS_NUM
        INNER JOIN studyroom_member MEMBER
        ON SEAT.MEMBER_CODE = MEMBER.MEMBER_CODE
        ORDER BY SEAT_NUM ASC;
    </select>

    <!-- 지급된 쿠폰 갯수 조회 -->
    <select id="showCoupon" resultMap="seatMapper.memberCoupon">
        SELECT COUPON_NAME
            , DISCOUNT_PERCENT
            , COUNT(*) AS CNT
        FROM member_coupon MC
        INNER JOIN coupon C
        ON MC.COUPON_CODE = C.COUPON_CODE
        GROUP BY MC.COUPON_CODE HAVING COUNT(*) > 0
        ORDER BY CNT DESC
    </select>

</mapper>































