<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="logMapper">

    <!-- LOG(로그) 조회하기 / 이거 안씀 -->
    <!-- 사용자 이름, 사용자 이용시간(시작, 종료, 사용시간), 결제내역, 좌석번호, 예약정보, 메세지 -->
	<resultMap id="timeLog" type="com.green.StudyRoom.admin.vo.TimeLogVO">
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="MEMBER_NAME" property="memberName"/>

        <result column="RESERVATION_CODE" property="reservationCode"/>
        <result column="RESERVATION_DATE" property="reservationDate"/>

        <result column="APPROVAL_CODE" property="approvalCode"/>

        <result column="DAY_INPUT" property="dayInput"/>
        <result column="IN_OUT" property="inOut"/>

        <result column="SEAT_POWER" property="seatPower"/>
        <result column="SEAT_FLOOR" property="seatFloor"/>

        <result column="MESSAGE_CODE" property="messageCode"/>
        <result column="MESSAGE_CONTENT" property="messageContent"/>
        <result column="MESSAGE_DATE" property="messageDate"/>
    </resultMap>

    <!-- view -->
    <select id="selectAllLog" resultMap="timeLog">
        SELECT MEMBER_CODE
                , MEMBER_NAME

                , RESERVATION_CODE
                , RESERVATION_DATE

                , APPROVAL_CODE

                , DAY_INPUT
                , IN_OUT

                , SEAT_POWER
                , SEAT_FLOOR

                , MESSAGE_CODE
                , MESSAGE_CONTENT
                , MESSAGE_DATE
        FROM STUDYROOM_LOG_VIEW
    </select>


    <!-- 결제 기록 가져오기 -->
    <select id="selectBuyList" resultMap="memberMapper.approval">
        SELECT APPROVAL_DATE
            , MEMBER_NAME
            , CHARGE_NAME
            , CHARGE_FEE
        FROM approval APP
        INNER JOIN studyroom_charge CHARGE
        ON APP.CHARGE_CODE = CHARGE.CHARGE_CODE
        INNER JOIN studyroom_member MEMBER
        ON APP.MEMBER_CODE = MEMBER.MEMBER_CODE
        ORDER BY APPROVAL_DATE DESC
    </select>

    <!-- 입실 퇴실 기록 가져오기 -->




</mapper>































