@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GongGothicMedium';
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.menu {
    width: 1200px;
    border-bottom: 1px solid #ccc;
}
.menu > ul {
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.menu > ul > li {
    padding: 10px;
}
.menu > ul > li > a {
    padding: 10px;
}
.menu > ul > li > a:hover {
    border-bottom: 1px solid #000;
}