<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
<!-- 회원가입     -->
	<resultMap id="member" type="com.green.StudyRoom.member.vo.MemberVO">
        <id column="MEMBER_CODE" property="memberCode"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_PW" property="memberPw"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="MEMBER_TEL" property="memberTel"/>
        <result column="MEMBER_BIRTH" property="memberBirth"/>
        <result column="POST_CODE" property="postCode"/>
        <result column="MEMBER_ADDR" property="memberAddr"/>
        <result column="ADDR_DETAIL" property="addrDetail"/>
        <result column="MEMBER_GENDER" property="memberGender"/>
        <result column="IS_ADMIN" property="isAdmin"/>
    </resultMap>

<!-- 결재 -->
    <resultMap id="approval" type="com.green.StudyRoom.member.vo.ApprovalVO">
        <id column="APPROVAL_CODE" property="approvalCode"/>
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="CHARGE_CODE" property="chargeCode"/>
        <result column="CARD" property="card"/>

        <association property="memberVO" resultMap="member"/>
        <association property="chargeVO" resultMap="chargeMapper.charge"/>

    </resultMap>

<!--  예약      -->
    <resultMap id="reservation" type="com.green.StudyRoom.member.vo.ReservationVO">
        <id column="RESERVATION_CODE" property="reservationCode"/>
        <result column="RESERVATION_DATE" property="ReservationDate"/>
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="SEAT_NUM" property="seatNum"/>
        <result column="CHARGE_CODE" property="chargeCode"/>

        <association property="memberVO" resultMap="member"/>
        <association property="seatVO" resultMap="seatMapper.seat"/>
        <association  property="chargeVO" resultMap="chargeMapper.charge"/>
    </resultMap>

    <!--  입실, 퇴실      -->
    <resultMap id="studyRoomInOut" type="com.green.StudyRoom.member.vo.StudyRoomInOutVO">
        <id column="DAY_INPUT" property="dayInput"/>
        <result column="IN_OUT" property="InOut"/>
        <result column="MEMBER_CODE" property="memberCode"/>

        <association property="memberVO" resultMap="member"/>
    </resultMap>

<!-- 회원 가입 -->
    <insert id="joinInsert">
        INSERT INTO STUDYROOM_MEMBER(
            MEMBER_CODE
            , MEMBER_ID
            , MEMBER_PW
            , MEMBER_NAME
            , MEMBER_TEL
            , MEMBER_BIRTH
            , POST_CODE
            , MEMBER_ADDR
            , ADDR_DETAIL
            , MEMBER_GENDER
        ) VALUES (
            #{memberCode}
            , #{memberId}
            , #{memberPw}
            , #{memberName}
            , #{memberTel}
            , #{memberBirth}
            , #{postCode}
            , #{memberAddr}
            , #{addrDetail}
            , #{memberGender}
        );
    </insert>

    <select id="login" resultMap="member">
        SELECT MEMBER_CODE
            , MEMBER_ID
            , MEMBER_PW
            , MEMBER_NAME
            , MEMBER_TEL
            , DATE_FORMAT(MEMBER_BIRTH,'%Y-%m-%d') as BIRTH
            , MEMBER_GENDER
            , IS_ADMIN
        FROM STUDYROOM_MEMBER
        WHERE MEMBER_ID=#{memberId}
        AND MEMBER_PW=#{memberPw}
    </select>
</mapper>
































