<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="reservationMapper">
	<resultMap id="reservation" type="com.green.StudyRoom.member.vo.ReservationVO">
        <id column="RESERVATION_CODE" property="reservationCode"/>
        <result column="MEMBER_CODE" property="memberCode"/>
        <result column="SEAT_NUM" property="seat_num"/>
        <result column="RESERVATION_DATE" property="ReservationDate"/>
        <result column="IS_RESERVATION" property="isReservation"/>
    </resultMap>
</mapper>































