<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="adminSideFragment">
    <div class="row justify-content-center" style="height: 700px; width: 200px;">
        <div class="col">
            <div class="sideMenu">
                <ul>
                    <li><a href="#" class="bi bi-person-circle" onclick="location.href='/admin/info'">회원 관리</a></li>
                    <li><a href="#" class="bi bi-credit-card" onclick="location.href='/admin/msg'">메세지</a></li>
                    <li><a href="#" class="bi bi-calendar-check" onclick="location.href='/admin/seat'">좌석 관리</a></li>
                    <li><a href="#" class="bi bi-chat-left-dots1" onclick="location.href='/admin/log'">로그 확인</a></li>
                    <li><a href="#" class="bi bi-chat-left-dots2" onclick="location.href='/admin/charge'">요금 변경</a></li>
                    <li><a href="#" class="bi bi-chat-left-dots3" onclick="location.href='/admin/sales'">매출 관리</a></li>
                </ul>
            </div>
        </div>
        <div style="font-size: small; padding-left: 30%;"><font color="red">※</font>수정 필요함 <font color="red">!!!!</font></div>
    </div>
</th:block>

</html>