<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="adminSideFragment">

    <div class="col">
        <div class="row adminSideMenu">
            <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN' || session.loginInfo.isAdmin == 'ARBEIT'}">
                <div class="sideMenu-div">
                    <ul>
                        <li style="margin-bottom: 3%;">
                            <a onclick="location.href='/board/mainHomepage'" style="color: white;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="margin-right: 10px;">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                </svg>
                                메인으로
                            </a>
                        </li>
                        <div style="color: #fff; padding: 20px;">
                            <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                                관리자
                            </th:block>
                            <th:block th:if="${session.loginInfo.isAdmin == 'ARBEIT'}">
                                알바생
                            </th:block>
                            <th:block th:if="${session.loginInfo.isAdmin == 'USER'}">
                                회원
                            </th:block>
                            <p style="font-size: 2rem; padding-left: 15px;">
                                [[${session.loginInfo.memberId}]]
                            </p>
                        </div>
                        <li>
                            <a onclick="location.href='/admin/info?pageNo=1'" class="page1">
                                &nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-right: 15px;">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                회원 관리
                            </a>
                        </li>
                        <li>
                            <a onclick="location.href='/admin/msg?pageNo=2'" class="page2">
                                &nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-chat-left-text-fill" viewBox="0 0 16 16"
                                    style="margin-right: 21px; margin-left: 3px;">
                                    <path
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
                                </svg>
                                1 : 1 문의
                            </a>
                        </li>
                        <li>
                            <a onclick="location.href='/admin/seat?pageNo=3'" class="page3">
                                &nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-door-open-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                    <path
                                        d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
                                </svg>
                                좌석 관리
                            </a>
                        </li>
                        <li>
                            <a onclick="location.href='/admin/log?pageNo=4'" class="page4">
                                &nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-clock-fill" viewBox="0 0 16 16" style="margin-right: 22px;">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                </svg>
                                기록 조회
                            </a>
                        </li>
                        <!-- 관리자만 -->
                        <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                            <li>
                                <a onclick="location.href='/admin/charge?pageNo=5'" class="page5">
                                    &nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-person-vcard-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                    </svg>
                                    이용권/쿠폰
                                </a>
                            </li>
                            <li>
                                <a onclick="location.href='/admin/sales?pageNo=6'" class="page6">
                                    &nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-bar-chart-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                        <path
                                            d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                                    </svg>
                                    매출 관리
                                </a>
                            </li>
                        </th:block>
                        <!-- 관리자가 아님 -->
                        <th:block th:if="${session.loginInfo.isAdmin == 'ARBEIT'}">
                            <!-- <li>
                                <a style="color: #7e7e7e;" onclick="noInside()" class="page5">
                                    &nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-person-vcard-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                    </svg>
                                    이용권/쿠폰
                                </a>
                            </li>
                            <li>
                                <a style="color: #7e7e7e;" onclick="noInside()" class="page6">
                                    &nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-bar-chart-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                        <path
                                            d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                                    </svg>
                                    매출 관리
                                </a>
                            </li> -->
                        </th:block>
                        <div class="sideFooter">Green StudyRoom</div>
                    </ul>
                    <input type="hidden" th:value="${pageNo}" id="page-no">
                </div>

                <!-- 백업 -->
                <!-- <div class="sideMenu-second">
                    <div class="side-top">
                        <p style="font-family: '국립박물관문화재단클래식B';">Green StudyRoom<br>
                            <font color="greenyellow">Admin Page</font>
                        </p>
                    </div>
                    <ul>
                        <li>
                            <a href="#" class="bi" onclick="location.href='/board/mainHomepage'">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-house-fill" viewBox="0 0 16 16" style="margin-right: 19px;">
                                        <path
                                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                        <path
                                            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                                    </svg>
                                    메인 화면
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bi" onclick="location.href='/admin/info'">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-right: 15px;">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                    회원 관리
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bi" onclick="location.href='/admin/msg'">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-chat-left-text-fill" viewBox="0 0 16 16"
                                        style="margin-right: 24px;">
                                        <path
                                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
                                    </svg>
                                    1 : 1 문의
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bi" onclick="location.href='/admin/seat'">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-door-open-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                                        <path
                                            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
                                    </svg>
                                    좌석 관리
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bi" onclick="location.href='/admin/log'">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                        class="bi bi-clock-fill" viewBox="0 0 16 16" style="margin-right: 22px;">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                    </svg>
                                    기록 조회
                                </div>
                            </a>
                        </li> -->
                <!-- 관리자만 -->
                <!-- <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                            <li>
                                <a href="#" class="bi" onclick="location.href='/admin/charge'">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16"
                                            style="margin-right: 20px;">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                        </svg>
                                        이용권/쿠폰
                                    </div>
                                </a>
                            </li>
                            <li style="border: none;">
                                <a href="#" class="bi" onclick="location.href='/admin/sales'">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16"
                                            style="margin-right: 20px;">
                                            <path
                                                d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                                        </svg>
                                        매출 관리
                                    </div>
                                </a>
                            </li>
                        </th:block> -->
                <!-- 관리자가 아님 -->
                <!-- <th:block th:if="${session.loginInfo.isAdmin == 'ARBEIT'}">
                            <li>
                                <a href="#" class="bi" style="color: #7e7e7e;" onclick="noInside()">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16"
                                            style="margin-right: 20px;">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                        </svg>
                                        이용권/쿠폰
                                    </div>
                                </a>
                            </li>
                            <li style="border: none;">
                                <a href="#" class="bi" style="color: #7e7e7e;" onclick="noInside()">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16"
                                            style="margin-right: 20px;">
                                            <path
                                                d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                                        </svg>
                                        매출 관리
                                    </div>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                    <div class="side-foot">
                        <th:block th:if="${session.loginInfo == null}">
                            <p class="login-popup">로그인하세요.</p> -->
                <!-- style="cursor: pointer;" -->
                <!-- </th:block>
                        <th:block th:if="${session.loginInfo != null}">
                            <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                                <p>
                                    <font color="orange">관리자</font> [[${session.loginInfo.memberId}]]님
                                </p>
                            </th:block>
                            <th:block th:if="${session.loginInfo.isAdmin == 'ARBEIT'}">
                                <p>
                                    <font color="orange">알바생</font> [[${session.loginInfo.memberId}]]님
                                </p>
                            </th:block>
                        </th:block>
                    </div> 
                </div>-->
            </th:block>

            <!-- 잘못된 접근 -->
            <th:block th:unless="${session.loginInfo.isAdmin == 'ADMIN' || session.loginInfo.isAdmin == 'ARBEIT'}">
                <div class="sideMenu-div">
                    <ul>
                        <li style="margin-bottom: 3%;">
                            <a onclick="location.href='/board/mainHomepage'" style="color: white;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="margin-right: 10px;">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                </svg>
                                메인으로
                            </a>
                        </li>
                        <div style="color: #fff; padding: 20px;">
                            <th:block th:if="${session.loginInfo.isAdmin == 'ADMIN'}">
                                관리자
                            </th:block>
                            <th:block th:if="${session.loginInfo.isAdmin == 'ARBEIT'}">
                                알바생
                            </th:block>
                            <th:block th:if="${session.loginInfo.isAdmin == 'USER'}">
                                회원
                            </th:block>
                            <p style="font-size: 2rem; padding-left: 15px;">
                                [[${session.loginInfo.memberId}]]
                            </p>
                        </div>
                        <li>
                            <a style="color: white;">잘못된 접근입니다.</a>
                        </li>
                        <div class="sideFooter">Green StudyRoom</div>
                    </ul>
                </div>
            </th:block>

        </div>
    </div>
    <!-- <script src="/js/studyRoom.js"></script> -->
    <!-- <script>
        function noInside() {
            alert('접근 권한이 없습니다.');
        }
    </script> -->
</th:block>

</html>