<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.StudyRoom.board.vo.BoardVO">
        <id  column="BOARD_CODE"            property="boardCode"/>
        <result  column="BOARD_TITLE"       property="boardTitle"/>
        <result  column="BOARD_WRITER"      property="boardWriter"/>
        <result  column="BOARD_DATE"        property="boardDate"/>
        <result  column="BOARD_CONTENT"     property="boardContent"/>
        <result  column="BOARD_SECRET"      property="boardSecret"/>
        <result  column="BOARD_ANSWER"      property="boardAnswer"/>
        <collection property="imgList"      resultMap="imgMapper.img"/>
    </resultMap>


    <insert id="insertBoard">
        INSERT INTO STUDYROOM_BOARD (
            BOARD_TITLE
            , BOARD_WRITER
            , BOARD_CONTENT
            , BOARD_SECRET
            , BOARD_CODE
        ) VALUES (
            #{boardTitle}
            , #{boardWriter}
            , #{boardContent}
            , IFNULL(#{boardSecret}, 'NO')
            , #{boardCode}
        )
    </insert>

    <!-- 문의 페이지-->
    <select id="selectBoard" resultMap="board">
        SELECT BOARD_CODE
            , BOARD_TITLE
            , DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') BOARD_DATE
            , BOARD_WRITER
            , BOARD_SECRET
            , BOARD_CONTENT
            , BOARD_ANSWER
        FROM STUDYROOM_BOARD
        <if test='searchValue != null and !searchValue.equals("")'>
            WHERE ${searchType} LIKE CONCAT ('%' , #{searchValue} , '%')
            AND BOARD_SECRET = 'NO'
        </if>
        ORDER BY BOARD_CODE DESC
        LIMIT #{displayDateCnt} OFFSET ${displayDateCnt * (nowPage-1)}



<!--        ${displayDateCnt * (nowPage-1)}-->


<!--        BOA INNER JOIN STUDYROOM_COMMENT COM-->
<!--        ON BOA.BOARD_CODE = COM.BOARD_CODE-->
    </select>

    <update id="updateMember">
        UPDATE STUDYROOM_MEMBER
        SET
        MEMBER_NAME = #{memberName}
        , MEMBER_PW = #{memberPw}
        , MEMBER_TEL = #{memberTel}
        , MEMBER_BIRTH = #{memberBirth}
        , MEMBER_ADDR = #{memberAddr}
        , ADDR_DETAIL = #{addrDetail}
        WHERE MEMBER_CODE = #{memberCode}
    </update>

    <select id="detailSelect" resultMap="board">
        SELECT BOARD.BOARD_CODE
            , BOARD_TITLE
            , BOARD_WRITER
            , BOARD_CONTENT
            , DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') BOARD_DATE
            , ATTACHED_FILE_NAME
        FROM STUDYROOM_BOARD BOARD
        LEFT OUTER JOIN BOARD_IMG IMG
        ON BOARD.BOARD_CODE = IMG.BOARD_CODE
        WHERE BOARD.BOARD_CODE = #{boardCode}
    </select>

    <!-- 관리자 답변 -->
    <insert id="adminAnswer">
        INSERT INTO STUDYROOM_COMMENT (
            COMMENT_WRITER
            , COMMENT_CONTENT
            , BOARD_CODE
        ) VALUES (
            #{commentWriter}
            , #{commentContent}
            , #{boardCode}
        )
    </insert>

    <!-- 답변 업데이트 -->

    <update id="updateAnswer">
        UPDATE STUDYROOM_MEMBER
        SET
        BOARD_ANSWER = 'Y'
        WHERE BOARD_CODE = #{boardCode}
    </update>

    <!-- 매장소개 문의글 Select -->
    <select id="selectPageInfo" resultMap="board">
        SELECT BOARD_CODE
        , BOARD_TITLE
        , DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') BOARD_DATE
        , BOARD_WRITER
        , BOARD_SECRET
        FROM STUDYROOM_BOARD
        ORDER BY BOARD_CODE DESC
        LIMIT 3;
    </select>

    <select id="selectMyPage" resultMap="board">
        SELECT BOARD_CODE
            ,BOARD_TITLE
            ,DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') BOARD_DATE
            FROM STUDYROOM_BOARD
            WHERE BOARD_WRITER = #{boardWriter}
            ORDER BY BOARD_CODE DESC
    </select>

    <delete id="deleteBoard">
        DELETE FROM STUDYROOM_BOARD
        WHERE BOARD_CODE = #{boardCode}
    </delete>

    <!-- 페이징 처리 -->
    <select id="selectBoardCnt" resultType="int">
        SELECT
        COUNT (
            BOARD_CODE
        )
        FROM STUDYROOM_BOARD
    </select>
</mapper>




























