<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>이용권/쿠폰 등록</h3>
            </div>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col">
                    <h4>&nbsp;이용권</h4>
                    <table class="table table-hover adminContainer-table">
                        <tbody class="adminContainer-table-tbody5">
                            <th:block th:if="${#lists.isEmpty(chargeList)}">
                                <tr>
                                    <td>※ 등록된 이용권이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(chargeList)}">
                                <tr th:each="charge : ${chargeList}">
                                    <!-- 클릭하면 해당 요금의 chargeCode 보내기 -->
                                    <td th:onclick="changeCharge([[${charge.chargeCode}]])">
                                        <div>[[${charge.chargeName}]]
                                            <div style="float: right;">
                                                [[${charge.chargeDate}]]일
                                            </div>
                                        </div>
                                        <div style="font-size: larger;">&ensp;[[${charge.chargeFee}]]원
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div>
                        <h4>&nbsp;쿠폰</h4>
                    </div>           
                    <table class="table table-hover adminContainer-table">
                        <tbody class="adminContainer-table-tbody5">
                            <th:block th:if="${#lists.isEmpty(couponList)}">
                                <tr>
                                    <td>※ 등록된 쿠폰이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(couponList)}">
                                <tr th:each="coupon : ${couponList}">
                                    <td th:onclick="changeCoupon([[${coupon.couponCode}]])">
                                        <div>[[${coupon.couponName}]]</div>
                                        <div style="font-size: larger;">&ensp;[[${coupon.discountPercent}]]% 할인
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <h4>&nbsp;등록/변경하기</h4>
            <div id="charge-container" class="changeOption">
                <form action="/admin/setCharge" method="post" class="sendCharge">
                    <table class="adminContainer-table">
                        <colgroup>
                            <col width="11%">
                            <col width="7%">
                            <col width="16%">
                            <col width="7%">
                            <col width="16%">
                            <col width="7%">
                            <col width="16%">
                            <col width="*">
                        </colgroup>
                        <tbody class="enrollBody">
                            <tr>
                                <td>
                                    <select id="selectOption" onchange="selectService(this.value)">
                                        <option value="CHARGE-option" selected>이용권</option>
                                        <option value="COUPON-option">쿠폰</option>
                                    </select>
                                </td>
                                <!-- 이용권 -->
                                <td>
                                    <div class="row">
                                        <div class="col text-end charge-title">
                                            이용권 명
                                        </div>
                                    </div>
                                </td>
                                <td class="charge-td">
                                    <input type="text" name="chargeName" class="form-control enInput" placeholder="이용권 명을 입력해주세요."
                                        style="font-style: oblique; border: 1px solid #ccc;">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col text-end charge-title">
                                            기간(일)
                                        </div>
                                    </div>
                                </td>
                                <td class="charge-td">
                                    <input type="text" name="chargeDate" class="form-control enInput" placeholder="기간을 입력해주세요."
                                        style="font-style: oblique; border: 1px solid #ccc;">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col text-end charge-title">
                                            가격(원)
                                        </div>
                                    </div>
                                </td>
                                <td class="charge-td">
                                    <input type="text" name="chargeFee" class="form-control enInput" placeholder="가격을 입력해주세요."
                                        style="font-style: oblique; border: 1px solid #ccc;">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col text-end">
                                            <div class="btnDiv">
                                                <input type="button" value="이용권 등록" onclick="enroll()">&nbsp;
                                                <input type="button" value="취소" onclick="window.location.reload()">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!--  -->
                            </tr>
                        </tbody>
                    </table>
                    <div style="padding: 1vh;"></div> <!-- 띄어쓰기 -->
                    <div>
                        <div class="btnDiv" style="padding-left: 10.2px;">
                            <input type="button" value="삭제" class="not-null-btn" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_charge.js"></script>
</th:block>

</html>