<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer" style="padding: 2vh;">
            <label class="title">
                <h2>요금 변경</h2>
            </label>
            <div style="padding: 2vh;"></div>
            <div class="row">
                <div class="col">
                    <h4>Charge</h4>
                    <table class="table table-hover adminContainer-table">
                        <tbody class="adminContainer-table-tbody5">
                            <tr th:each="charge : ${chargeList}">
                                <!-- 클릭하면 해당 요금의 chargeCode 보내기 -->
                                <td th:onclick="changeCharge([[${charge.chargeCode}]])">
                                    <div>【[[${charge.chargeName}]]】</div>
                                    <div style="font-style: oblique; font-size: larger;">[[${charge.chargeFee}]]원</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="padding: 2vh;"></div>
                    <h4>Register</h4>
                    <div id="charge-container">
                        <form action="/admin/setCharge" method="post">
                            <table class="adminContainer-table">
                                <colgroup>
                                    <col width="9%">
                                    <col width="5%">
                                    <col width="*">
                                    <col width="15%">
                                    <col width="5%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col text-end">
                                                    【요금명】
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col text-center">
                                                    :
                                                </div>
                                            </div>
                                        </td>
                                        <td class="charge-td">
                                            <input type="text" name="chargeName" class="nameInput" placeholder="입력해주세요."
                                                style="font-style: oblique;">
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col text-end">
                                                    【가격(원)】
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col text-center">
                                                    :
                                                </div>
                                            </div>
                                        </td>
                                        <td class="charge-td">
                                            <input type="text" name="chargeFee" class="chargeInput"
                                                placeholder="입력해주세요." style="font-style: oblique;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="padding: 2vh;"></div>
                            <div>
                                <div class="text-start">
                                    <input type="submit" value="요금 등록" class="not-null-btn">&nbsp;
                                    <input type="button" value="삭제" class="not-null-btn" disabled>&nbsp;
                                    <input type="button" value="취소" onclick="window.location.reload()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_charge.js"></script>
</th:block>

</html>