<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/seat/seat_live.css"> <!-- 일단 seat에 이어둠 -->
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer" style="padding: 2vh;">
            <label class="title">
                <h2>좌석 관리</h2>
            </label>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="floorBtn">
                        <div class="row mb-4">
                            <div class="col">
                                <button type="button" class="btn btn-light floor-btn" onclick="onefloor()">1층</button>
                                <button type="button" class="btn btn-light floor-btn" onclick="twofloor()">2층</button>
                            </div>
                        </div>
                    </div>

                    <div class="seatLive">
                        <!-- 자바스크립트 채울공간 -->
                    </div>
                </div>
            </div>
        </div>

    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/seat/seat_live.js"></script> <!-- 일단 seat에 이어둠 -->
</th:block>

</html>