<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <body>
        <div class="adminContainer">
            <label class="title">
                <h3>메세지</h3>
                <div>
                    고쳐야할 점 :
                    1. 보내고 받은 메세지 구분하기 >>, << / 2. 메세지 구현 더 자세히 만들기 </div>
            </label>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div>
                                <h4>&nbsp;Message (회원)</h4>
                            </div>
                            <div>
                                <table class="table table-hover adminContainer-table">
                                    <tbody class="adminContainer-table-tbody2">
                                        <tr th:each="chat : ${chtList}">
                                            <td>
                                                <div class="topMsg">([[${chat.seatNum}]]번) [[${chat.messageDate}]]</div>
                                                <div class="botMsg">>> [[${chat.memberName}]]([[${chat.memberId}]]) :
                                                    [[${chat.messageContent}]]</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="table-light">
                                        <tr>
                                            <td>
                                                <form action="/admin/sendAdmMsg" method="post">
                                                    <div class="btnDiv input">
                                                        <span class="whoIs">
                                                            <input type="text" value="@보낼사람" readonly>&nbsp;
                                                        </span>
                                                        <!-- @@@@@채팅@@@@@ -->
                                                        <input type="text" style="width: 60%; text-align: start;"
                                                            name="messageContent">&nbsp;
                                                        <!-- @@@@@@@@@@@@@ -->
                                                        <input type="submit" value="전송">
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
                                <div>
                                    <h4>&nbsp;Send To</h4>
                                    <table class="table table-hover adminContainer-table">
                                        <thead class="table-light">
                                            <form action="/admin/msg" method="post">
                                                <tr>
                                                    <td>
                                                        <div class="btnDiv">
                                                            <select name="searchType">
                                                                <option value="MEMBER_NAME"
                                                                    th:selected="${infoSearchVO.searchType == null or infoSearchVO.searchType == 'MEMBER_NAME'}">
                                                                    이름
                                                                </option>
                                                                <option value="MEMBER_ID"
                                                                    th:selected="${infoSearchVO.searchType == 'MEMBER_ID'}">
                                                                    아이디
                                                                </option>
                                                            </select>&nbsp;
                                                            <input type="text" name="searchValue" style="text-align: left;"
                                                                th:value="${infoSearchVO.searchValue}">&nbsp;
                                                            <input type="submit" value="검색">
                                                            <div style="float: right;">
                                                                <input type="button" value="새로고침" onclick="location.href='/admin/info'">
                                                            </div>  
                                                        </div>
                                                    </td>
                                                </tr>
                                            </form>
                                        </thead>
                                        <tbody class="adminContainer-table-tbody22">
                                            <th:block th:if="${#lists.isEmpty(msgList)}">
                                                <tr>
                                                    <td>※ 회원정보가 존재하지 않습니다.</td>
                                                </tr>
                                            </th:block>
                                            <th:block th:unless="${#lists.isEmpty(msgList)}">
                                                <tr th:each="member, state : ${msgList}"
                                                    th:onclick="goChat([[${member.memberCode}]])">
                                                    <td>
                                                        <div>
                                                            <span>[[${member.memberName}]]
                                                                ([[${member.memberId}]])</span>
                                                            <span style="float: right;">
                                                                <div>
                                                                    <th:block th:if="${member.isAdmin == 'USER'}">
                                                                        [회원]
                                                                    </th:block>
                                                                    <th:block th:if="${member.isAdmin == 'ARBEIT'}">
                                                                        [알바생]
                                                                    </th:block>
                                                                    <th:block th:if="${member.isAdmin == 'ADMIN'}">
                                                                        [관리자]
                                                                    </th:block>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_message.js"></script>
</th:block>

</html>