<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/seat/seat_live.css"> <!-- 일단 seat에 이어둠 -->
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <label style="padding-top: 60px; border-bottom: 3px solid #000000;">
                <div style="float: left;">
                    <h3>좌석 관리&ensp;</h3>
                </div>
                <div style="float: right;">
                    <span>
                        <button type="button" class="btn btn-light floor-btn" onclick="onefloor()">1층</button>
                    </span>&nbsp;
                    <span>
                        <button type="button" class="btn btn-light floor-btn" onclick="twofloor()">2층</button>
                    </span>&nbsp;
                    <span>
                        <button type="button" class="btn btn-danger" onclick="seatMove()">회원이동</button>
                    </span>&nbsp;
                    <span>
                        <button type="button" class="btn btn-danger" onclick="seatOut()">회원퇴실</button>
                    </span>
                </div>
            </label>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="seatLive">
                        <!-- 자바스크립트 채울공간 -->
                    </div>
                </div>
            </div>
        </div>
    </body>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_seat.js"></script> <!-- 일단 seat에 이어둠 -->
</th:block>

</html>