<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>타임로그</h3>
            </div>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col">
                    <div class="row">

                        <!-- 왼쪽 -->
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <h4>&nbsp;APPROVAL</h4>
                                    <table class="table table-hover adminContainer-table">
                                        <tbody class="adminContainer-table-tbody4">
                                            <tr th:each="app : ${appList}">
                                                <td>
                                                    <div>
                                                        <span>[[${app.memberVO.memberName}]]</span> 님이
                                                        <span style="text-decoration: underline;">
                                                            [[${app.chargeVO.chargeName}]]
                                                        </span>
                                                        이용권을
                                                        <span>[[${app.chargeVO.chargeFee}]]</span>원에 결제하였습니다.
                                                        <!-- coupon이랑 approvalFee 다 만들어지면 바꾸기 -->
                                                    </div>
                                                    <div>
                                                        <span class="logDate text-end">
                                                            [[${app.approvalDate}]]&nbsp;
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="padding: 2vh;"></div>
                            <div class="row">
                                <div class="col">
                                    <h4>&nbsp;RESERVATION</h4>
                                    <table class="table table-hover adminContainer-table">
                                        <tbody class="adminContainer-table-tbody4">
                                            <tr th:each="res : ${resList}">
                                                <td>
                                                    <div>
                                                        <span>
                                                            [[${res.memberVO.memberName}]]
                                                        </span> 님이
                                                        <span style="text-decoration: underline;">
                                                            [[${res.chargeVO.chargeName}]]
                                                        </span>이용권으로
                                                        <span>
                                                            [[${res.seatVO.seatNum}]]번 좌석을 예약 구매하셨습니다.
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="logDate">
                                                            [[${res.reservationDate}]]&nbsp;
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="padding: 2vh;"></div>
                            <div class="row">
                                <div class="col">
                                    <h4>&nbsp;IN-OUT</h4>
                                    <table class="table table-hover adminContainer-table">
                                        <tbody class="adminContainer-table-tbody4">
                                            <tr th:each="inot, state : ${inotList}">
                                                <td>
                                                    <span>
                                                        [[${inot.memberVO.memberName}]]
                                                    </span> 님이
                                                    <span>
                                                        [[${inot.InOut}]]
                                                    </span>하셨습니다.
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="table table-light">
                                            <tr style="text-align: center;">
                                                <td style="color: #ccc;">
                                                    <span id="realDate" style="color: #ccc; font-style: oblique;">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- 오른쪽 -->
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <h4>&nbsp;SEAT-IN-USE</h4>
                                </div>
                            </div>
                            <div class="col" style="border: 1px solid #ccc;">
                                <table class="table" style="text-align: center">
                                    <colgroup>
                                        <col width="19.8%">
                                        <col width="19.8%">
                                        <col width="19.8%">
                                        <col width="19.8%">
                                        <col width="*">
                                        <col width="6px">
                                    </colgroup>
                                    <thead class="table-light">
                                        <tr>
                                            <td>좌석 번호</td>
                                            <td>좌석 층수</td>
                                            <td>좌석 상태</td>
                                            <td>점등 상태</td>
                                            <td>사용자</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                </table>
                                <table class="table table-hover" style="text-align: center; margin-top: -16px;">
                                    <tbody class="adminContainer-table-tbody44">
                                        <tr th:each="status : ${statusList}">
                                            <td style="width: 20%;">[[${status.seatNum}]]번</td>
                                            <td style="width: 20%;">[[${status.seatFloor}]]층</td>
                                            <td style="width: 20%;">[[${status.seatStatusVO.statusName}]]</td>
                                            <td style="width: 20%;">[[${status.seatPower}]]</td>
                                            <td style="width: 20%;">[[${status.memberVO.memberName}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- </div> -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script>
        function clock() {
            const datetext = document.querySelector('#realDate'); /* 태그 갖고오기 */

            const today = new Date(); /* 날짜와 시간 */
            const year = today.getFullYear(); // 년도
            const month = ('0' + (today.getMonth() + 1)).slice(-2); // 월
            const date = ('0' + today.getDate()).slice(-2); // 날짜
            const hrs = today.getHours() % 12 ? today.getHours() % 12 : 12; //시간
            const min = ('0' + today.getMinutes()).slice(-2); //분
            const ampm = today.getHours() >= 12 ? 'PM' : 'AM'; //오후 오전

            datetext.innerHTML = year + "-" + month + "-" + date + "&ensp;&ensp;&nbsp;" + ampm + "&ensp;" + hrs + ":" + min; /* html에 출력 */
        }
        clock();
    </script>
</th:block>

</html>