<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>회원 관리 (수정필요)</h3>
            </div>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-7">
                            <h4>&nbsp;검색 <span style="font-size: 15px;">([[${#lists.size(memberList)}]]명)</span></h4>
                            <table class="table table-hover adminContainer-table">
                                <thead class="table-light">
                                    <form action="/admin/info" method="post">
                                        <tr>
                                            <td>
                                                <div class="btnDiv">
                                                    <select name="searchType">
                                                        <option value="MEMBER_NAME"
                                                            th:selected="${infoSearchVO.searchType == null or infoSearchVO.searchType == 'MEMBER_NAME'}">
                                                            이름
                                                        </option>
                                                        <option value="MEMBER_ID"
                                                            th:selected="${infoSearchVO.searchType == 'MEMBER_ID'}">
                                                            아이디
                                                        </option>
                                                        <option value="IS_ADMIN"
                                                            th:selected="${infoSearchVO.searchType == 'IS_ADMIN'}">
                                                            권한
                                                        </option>
                                                    </select>&nbsp;
                                                    <input type="text" name="searchValue" style="text-align: left;"
                                                        th:value="${infoSearchVO.searchValue}">&nbsp;
                                                    <input type="submit" value="검색">
                                                    <div style="float: right;">
                                                        <input type="button" value="새로고침"
                                                            onclick="location.href='/admin/info'">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </form>
                                </thead>
                                <tbody class="adminContainer-table-tbody">
                                    <th:block th:if="${#lists.isEmpty(memberList)}">
                                        <tr>
                                            <td>※ 회원정보가 존재하지 않습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:unless="${#lists.isEmpty(memberList)}">
                                        <tr th:each="member, state : ${memberList}"
                                            th:onclick="allInfo([[${member.memberCode}]])">
                                            <td>
                                                <div>
                                                    <span>
                                                        <span style="font-size: small;">#[[${#lists.size(memberList) -
                                                            state.index}]]</span>
                                                        &ensp;[[${member.memberName}]] ([[${member.memberId}]])
                                                    </span>
                                                    <span style="float: right;">
                                                        <div>
                                                            <th:block th:if="${member.isAdmin == '회원'}">
                                                                회원
                                                            </th:block>
                                                            <th:block th:if="${member.isAdmin == '알바생'}">
                                                                알바생
                                                            </th:block>
                                                            <th:block th:if="${member.isAdmin == '관리자'}">
                                                                관리자
                                                            </th:block>
                                                        </div>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-5">
                            <h4>&nbsp;쿠폰</h4>
                            <table class="table table-hover adminContainer-table">
                                <tbody class="adminContainer-table-tbody1">
                                    <th:block th:if="${#lists.isEmpty(couponList)}">
                                        <tr>
                                            <td>※ 등록된 쿠폰이 없습니다.</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:unless="${#lists.isEmpty(couponList)}">
                                        <tr th:each="coupon : ${couponList}">
                                            <td th:onclick="changeCoupon([[${coupon.couponCode}]])">
                                                <div>[[${coupon.couponName}]]</div>
                                                <div style="font-size: larger;">&ensp;[[${coupon.discountPercent}]]% 할인
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
                    <div class="changeInfo-div">

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- <div class="modal fade" id="date_info_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">이용권 정보</h4>
                    </div>
                    <div class="modal-body">
                        <table class="adminContainer-table">
                            <colgroup>
                                <col width="15%">
                                <col width="35%">
                                <col width="15%">
                                <col width="35%">
                            </colgroup>
                            <tbody class="changeInfo" id="date-info-div">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div> -->
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/admin/admin_memberinfo.js"></script>
</th:block>

</html>