<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer" style="padding: 2vh;">
            <div>
                <h2>회원 관리</h2>
                <div style="padding: 1vh;"></div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="adminContainer-table">
                        <colgroup>
                            <col width="33%">
                            <col width="33%">
                            <col width="*">
                        </colgroup>
                        <tr>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;아이디 : NONE
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;이름 : NONE
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;성별 : NONE
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;전화번호 : NONE
                                    </div>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;주소 : NONE
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;권한 : NONE
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        &ensp;권한 변경
                                        <select>
                                            <option value="USER">USER</option>
                                            <option value="ARBEIT">ARBEIT</option>
                                            <option value="ADMIN">ADMIN</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="btn d-grid">
                                            <button type="button">변경</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</th:block>


<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>