<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>1 : 1 문의</h3>
            </div>
            <div style="padding: 2.5vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col-7">
                    <form action="/admin/sendAdmMsg" method="post" id="sendForm">
                        <!-- 같이 보낼 정보 -->
                        <input type="hidden" name="memberCode" th:value="${memberCode}" id="send_memberCode">
                        <input type="hidden" name="receiver" th:value="${receiver}" id="receiver">
                        <!-- ------------- -->
                        <table class="adminContainer-table">
                            <tbody class="adminContainer-table-tbody2">
                                <th:block th:if="${memberCode == 0}">
                                    <tr th:each="recent : ${recList}" th:onclick="goChat([[${recent.memberCode}]])">
                                        <td>
                                            <div class="userMsg">
                                                &ensp;[[${recent.memberVO.memberName}]]
                                                ([[${recent.memberVO.memberId}]]) 회원님
                                            </div>
                                            <div class="fromMsg">
                                                <div class="botMsg">
                                                    <span>[[${recent.messageContent}]]</span>
                                                </div>
                                            </div>
                                            <div class="topMsg" style="float: right;">
                                                <span>[[${recent.messageDate}]]&ensp;&ensp;</span>
                                            </div>
                                        </td>
                                        <td width="60%"></td>
                                    </tr>
                                    <tr>
                                        <td class="msgTopMenu">
                                            <h4>&nbsp;최근에 받은 메시지</h4>
                                        </td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${memberCode == 0}">
                                    <tr th:each="chat : ${chtList}">
                                        <th:block th:if="${chat.toFrom == 'TO'}">
                                            <td width="60%"></td>
                                            <td>
                                                <div class="toMsg">
                                                    <div class="botMsg">
                                                        <span>[[${chat.messageContent}]]</span>
                                                    </div>
                                                </div>
                                                <div class="topMsg" style="float: left;">
                                                    <span>&ensp;&ensp;[[${chat.messageDate}]]</span>
                                                </div>
                                            </td>
                                        </th:block>
                                        <th:block th:unless="${chat.toFrom == 'TO'}">
                                            <td>
                                                <div class="userMsg">
                                                    &ensp;[[${chat.memberVO.memberName}]]
                                                    ([[${chat.memberVO.memberId}]]) 회원님
                                                </div>
                                                <div class="fromMsg">
                                                    <div class="botMsg">
                                                        <span>[[${chat.messageContent}]]</span>
                                                    </div>
                                                </div>
                                                <div class="topMsg" style="float: right;">
                                                    <span>[[${chat.messageDate}]]&ensp;&ensp;</span>
                                                </div>
                                            </td>
                                            <td width="60%"></td>
                                        </th:block>
                                    </tr>
                                </th:block>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <div class="btnDiv input">
                                            <span>
                                                <input type="text" value="+보낼사람" id="send_memberName" name="memberName"
                                                    style="background-color: #f2f4f7;" readonly>&nbsp;
                                            </span>
                                            <!-- 채팅 -->
                                            <span>
                                                <input type="text"
                                                    style="text-align: start; width: 67.5%; background-color: #f2f4f7;"
                                                    name="messageContent" id="admin_message_content">
                                            </span>
                                            <!-- ---- -->
                                            <div style="float: right;">
                                                <input type="button" value="전송"
                                                    style="background-color: #5685e4; color: white;"
                                                    onclick="StartChat()">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="col-5">
                    <table class="table table-hover adminContainer-table">
                        <thead class="table-success">
                            <form action="/admin/msg" method="post" class="infoSearch">
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col input-group">
                                                <select name="searchType" class="form-select">
                                                    <option value="MEMBER_NAME"
                                                        th:selected="${infoSearchVO.searchType == null or infoSearchVO.searchType == 'MEMBER_NAME'}">
                                                        회원 이름
                                                    </option>
                                                    <option value="MEMBER_ID"
                                                        th:selected="${infoSearchVO.searchType == 'MEMBER_ID'}">
                                                        아이디
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control searchInput" name="searchValue"
                                                    style="width: 123px;" th:value="${infoSearchVO.searchValue}">
                                                <button class="btn green-btn" type="button" onclick="infoSearch()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path
                                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                                    </svg>&ensp;검색
                                                </button>
                                                <button class="btn btn-light" type="button" style="width: 120px;"
                                                    onclick="location.href='/admin/msg'">
                                                    새로고침
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </thead>
                        <tbody class="adminContainer-table-tbody22 scroll-table">
                            <th:block th:if="${#lists.isEmpty(msgList)}">
                                <tr style="height: 4.7rem; vertical-align: middle;">
                                    <td>※ 회원정보가 존재하지 않습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(msgList)}">
                                <tr th:each="member, state : ${msgList}" th:onclick="goChat([[${member.memberCode}]])"
                                    style="height: 4.7rem; vertical-align: middle;">
                                    <td class="text-center" width="7%" style="background-color: #8bc0ae; color: white;">
                                        <span style="font-size: small;">[[${#lists.size(msgList) -
                                            state.index}]].</span>
                                    </td>
                                    <td>
                                        <div>
                                            <span>[[${member.memberName}]]
                                                ([[${member.memberId}]])
                                            </span>
                                        </div>
                                    </td>
                                    <td width="34%" style="border-left: 1px solid #dee2e6;">
                                        <div class="msgMemberTel" style="letter-spacing: 1px; padding-left: 11px;">
                                            [[${member.memberTel}]]
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_message.js"></script>
</th:block>

</html>