<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <!-- 부트스트랩 키면 사이드메뉴 이상해짐 -->
    <!-- bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>매출 관리 (월별, 연별)</h3>
            </div>
            <div style="padding: 2.5vh;"></div> <!-- 띄어쓰기 -->
            <div class="layer large-layer">
                <div class="row">
                    <!-- 차트 -->
                    <div class="col-6 layer-first">
                        <div class="text-center mb-4">
                            <button type="button" class="btn btn-light" onclick="getMonthChart()">월 매출</button>
                            &ensp;
                            <!-- <button type="button" class="btn btn-light" onclick="getMonthChart()">월 매출</button>
                            &ensp; -->
                            <button type="button" class="btn btn-light" onclick="getYearChart()">연 매출</button>
                        </div>
                        <canvas id="bar-chart" style="vertical-align: middle;" height="20vh" width="40vw"></canvas>
                    </div>
                    <!-- 이용권 판매현황 -->
                    <div class="col layer-second">
                        <h5 class="mb-4">판매된 이용권</h5>
                        <table class="table">
                            <colgroup>
                                <col width="28%">
                                <col width="16%">
                                <col width="28%">
                                <col width="28%">
                            </colgroup>
                            <thead class="table-light">
                                <tr>
                                    <td>이용권 ([[${#lists.size(chargeList)}]]종류)</td>
                                    <td class="text-center">판매 수량</td>
                                    <td class="text-end">개별 가격</td>
                                    <td class="text-end">총 판매가</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="salesTable">
                            <table class="table table-hover mb-4">
                                <colgroup>
                                    <col width="28%">
                                    <col width="16%">
                                    <col width="28%">
                                    <col width="28%">
                                </colgroup>
                                <tbody>
                                    <tr th:each="charge, state : ${chargeList}">
                                        <td>
                                            [[${charge.chargeVOList[0].chargeName}]]
                                        </td>
                                        <td class="text-center">
                                            [[${charge.cnt}]]EA
                                        </td>
                                        <td class="text-end">
                                            [[${#numbers.formatCurrency(charge.chargeVOList[0].chargeFee)}]]
                                        </td>
                                        <td class="text-end">
                                            [[${#numbers.formatCurrency(charge.salesFee)}]]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 3번째 레이어 -->
                <div class="row mt-3">
                    <div class="col layer-third">
                        <div id="testing">

                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <!-- bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script> -->
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/admin/admin_sales.js"></script>
</th:block>

</html>