<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/admin/admin.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <body>
        <div class="adminContainer">
            <div class="title">
                <h3>이용권/쿠폰</h3>
            </div>
            <div style="padding: 2.5vh;"></div> <!-- 띄어쓰기 -->
            <div class="row">
                <div class="col">
                    <h4>&nbsp;등록된 이용권</h4>
                    <table class="table table-hover adminContainer-table">
                        <tbody class="adminContainer-table-tbody5 scroll-table">
                            <th:block th:if="${#lists.isEmpty(chargeList)}">
                                <tr>
                                    <td>※ 등록된 이용권이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(chargeList)}">
                                <tr th:each="charge, state : ${chargeList}"
                                    th:onclick="changeCharge([[${charge.chargeCode}]])">
                                    <td class="text-center" width="6%"
                                        style="background-color: #8bc0ae; color: white; vertical-align: middle;">
                                        <span style="font-size: small;">
                                            [[${#lists.size(chargeList) - state.index}]].
                                        </span>
                                    </td>
                                    <td>
                                        <div>
                                            [[${charge.chargeName}]]
                                        </div>
                                        <div style="font-size: larger;">
                                            &ensp;[[${charge.chargeFee}]]원
                                        </div>
                                    </td>
                                    <td class="text-center" width="18%"
                                        style="vertical-align: middle; border-left: 1px solid #dee2e6;">
                                        <div>
                                            [[${charge.chargeDate}]]일 이용권
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div>
                        <h4>&nbsp;등록된 쿠폰</h4>
                    </div>
                    <table class="table table-hover adminContainer-table">
                        <tbody class="adminContainer-table-tbody5 scroll-table">
                            <th:block th:if="${#lists.isEmpty(couponList)}">
                                <tr>
                                    <td>※ 등록된 쿠폰이 없습니다.</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(couponList)}">
                                <tr th:each="coupon, state : ${couponList}">
                                    <td class="text-center" width="6%"
                                        style="background-color: #8bc0ae; color: white; vertical-align: middle;">
                                        <span style="font-size: small;">
                                            [[${#lists.size(couponList) - state.index}]].
                                        </span>
                                    </td>
                                    <td th:onclick="changeCoupon([[${coupon.couponCode}]])">
                                        <div>[[${coupon.couponName}]]</div>
                                        <div style="font-size: larger;">&ensp;[[${coupon.discountPercent}]]% 할인
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 2vh;"></div> <!-- 띄어쓰기 -->
            <h4>&nbsp;등록/변경하기</h4>
            <div id="charge-container" class="changeOption">
                <form action="/admin/setCharge" method="post" class="sendCharge">
                    <table class="adminContainer-table">
                        <colgroup>
                            <col width="9%">
                            <col width="*">
                            <col width="9%">
                        </colgroup>
                        <tbody class="enrollBody">
                            <tr>
                                <td>
                                    <select id="selectOption" onchange="selectService(this.value)" class="form-select">
                                        <option value="CHARGE-option" selected>이용권</option>
                                        <option value="COUPON-option">쿠폰</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-text"
                                            style="width: 120px; height: 40px; justify-content: center;">등록하기</span>
                                        <input type="text" class="form-control enInput" name="chargeName"
                                            placeholder="이용권 이름">
                                        <input type="text" class="form-control enInput" name="chargeDate"
                                            placeholder="이용 기간">
                                        <input type="text" class="form-control enInput" name="chargeFee"
                                            placeholder="판매 가격">
                                        <button type="button" class="btn" onclick="enroll()"
                                            style="width: 120px; background-color: #8bc0ae; color: white;">이용권
                                            등록</button>
                                        <button type="reset" class="btn btn-light" style="width: 120px;">취소</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-secondary" style="width: 120px;"
                                                disabled>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                </svg>
                                                &ensp;삭제
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </body>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/admin/admin_charge.js"></script>
</th:block>

</html>