@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.passwordFindFirst-container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'GowunBatang-Regular';
}

.passwowrdFindFirst-header{
    margin-top: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwowrdFindFirst-content{
    margin-top: 80px;
    text-align: center;
}
.passwowrdFindFirst-content input{
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    height: 80px;
}

.passwowrdFindFirst-footer{
    margin-top: 20px;
    text-align: center;
}
.passwowrdFindFirst-footer button{
    width: 50%;
    height: 80px;
    border: none;
    background-color: #0c5317;
    color: #fff;
    border-radius: 15px;
}
.passwowrdFindFirst-footer input:hover{
    cursor: pointer;
}
.findFist-footer1{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.cusor{
    cursor: pointer;
}