@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.password-container{
    width: 80%;
    margin: 0 auto;
    font-family: 'GowunBatang-Regular';
    color: #fff;
    height: 100vh;
}

.password-header{
    margin-top: 150px;
    height: 100px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.password-header h3{
    font-size: 30px;
}

.password-content{
    margin-top: 40px;
    padding: 20px;
    height: 500px;
}

.find-tel{
    padding: 30px;
    height: auto;
    background-color: #383838b4;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.find-email{
    padding: 30px;
    height: auto;
    background-color: #383838b4;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin-top: 30px;
}
.password-footer{
    text-align: center;
    margin-top: 80px;
}
.span-style{
    margin-left: 15px;
    color: #abd5a7;
    font-weight: bold;
    font-size: 16px;
}
.span-header{
    font-weight: bold;
    font-size: 20px;

}

.find-tel-header{
    margin-top: 5px;
}

.find-tel-content{
    margin-top: 10px;
    width: 70%;
    padding: 15px;
}
.find-tel-name input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-tel-tel input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-tel-tel button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
}
.find-tel-footer input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-tel-footer{
    width: 70%;
    padding: 15px;
}
.find-tel-footer button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
}



.find-email-header{
    margin-top: 5px;
}

.find-email-content{
    margin-top: 10px;
    width: 70%;
    padding: 15px;
}
.find-email-name input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-email-email input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-email-email button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
}
.find-email-footer input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}
.find-email-footer{
    width: 70%;
    padding: 15px;
}
.find-email-footer button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
}
.password-footer button{
    width: 120px;
    height: 40px;
    background-color: #034d0d;
    color: #fff;
    border: none;
}
