@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.resetPassword-container{
    margin: 0 auto;
    width: 80%;
    font-family: 'GowunBatang-Regular';
    color: #fff;
    height: 100vh;
}

.resetPassword-header{
    margin-top: 150px;
    height: 100px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.resetPassword-header h3{
    font-size: 35px;
}
.resetPassword-content{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    height: 650px;
    background-color: #383838b4;
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 10px;
}
.pasInput-header{
    margin-top: 70px;
    margin-bottom: 100px;
}
.pasInput1 input{
    width: 50%;
    outline:none;
    padding: 15px;
    height: 55px;
    margin-bottom: 10px;
}
.pasInput2 input{
    width: 50%;
    outline:none;
    padding: 15px;
    height: 55px;
    margin-bottom: 5px;
}
.pasFooter{
    margin-top: 25px;
}
.pasFooter input{
    width: 50%;
    border-radius: 5px;
    background-color: #096904;
    color: #fff;
    height: 55px;
    border: none;
}
.pasFooter input:hover{
    font-weight: bold;
}